<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

<div style="text-align:center">

<div id="vv1"></div>
<div id="vv2"></div>
<div id="vv3"></div>
<div id="vv4"></div>
<div id="vv5"></div>
<div id="vv6"></div>
<div id="vv7"></div>
<div id="vv8"></div>
<div id="vv9"></div>
<div id="vv10"></div>
<div id="vv11"></div>
<div id="vv12"></div>
<div id="vv13"></div>
<div id="vv14"></div>
<div id="vv15"></div>
<div id="vv16"></div>
<div id="vv17"></div>
<div id="vv18"></div>
<div id="vv19"></div>
<div id="vv20"></div>
<div id="vv21"></div>
<div id="vv22"></div>
<div id="vv23"></div>
<div id="vv24"></div>
<div id="vv25"></div>
<div id="vv26"></div>
<div id="vv27"></div>
<div id="vv28"></div>
<div id="vv29"></div>
<div id="vv30"></div>
<div id="vv31"></div>
<div id="vv32"></div>
<div id="vv33"></div>
<div id="vv34"></div>
<div id="vv35"></div>
<div id="vv36"></div>
<div id="vv37"></div>
<div id="vv38"></div>
<div id="vv39"></div>
<div id="vv40"></div>
<div id="vv41"></div>
<div id="vv42"></div>
<div id="vv43"></div>
<div id="vv44"></div>
<div id="vv45"></div>
<div id="vv46"></div>
<div id="vv47"></div>
<div id="vv48"></div>
<div id="vv49"></div>
<div id="vv50"></div>
<div id="vv51"></div>
<div id="vv52"></div>
<div id="vv53"></div>
<div id="vv54"></div>
<div id="vv55"></div>
<div id="vv56"></div>
<div id="vv57"></div>
<div id="vv58"></div>
<div id="vv59"></div>
<div id="vv60"></div>
<div id="vv61"></div>
<div id="vv62"></div>
<div id="vv63"></div>
<div id="vv64"></div>
<div id="vv65"></div>
<div id="vv66"></div>
<div id="vv67"></div>
<div id="vv68"></div>
<div id="vv69"></div>
<div id="vv70"></div>
<div id="vv71"></div>
<div id="vv72"></div>
<div id="vv73"></div>
<div id="vv74"></div>
<div id="vv75"></div>
<div id="vv76"></div>
</div>
<script type="text/javascript">

vegaEmbed('#vv1', {% include 1X18X1.json %}).catch(console.error);
vegaEmbed('#vv2', {% include 1X18X2.json %}).catch(console.error);
vegaEmbed('#vv3', {% include 1X18X3.json %}).catch(console.error);
vegaEmbed('#vv4', {% include 1X18X4.json %}).catch(console.error);
vegaEmbed('#vv5', {% include 1X18X5.json %}).catch(console.error);
vegaEmbed('#vv6', {% include 1X18X6.json %}).catch(console.error);
vegaEmbed('#vv7', {% include 1X18X7.json %}).catch(console.error);
vegaEmbed('#vv8', {% include 1X18X8.json %}).catch(console.error);
vegaEmbed('#vv9', {% include 1X18X9.json %}).catch(console.error);
vegaEmbed('#vv10', {% include 1X18X10.json %}).catch(console.error);
vegaEmbed('#vv11', {% include 1X18X11.json %}).catch(console.error);
vegaEmbed('#vv12', {% include 1X18X12.json %}).catch(console.error);
vegaEmbed('#vv13', {% include 1X18X13.json %}).catch(console.error);
vegaEmbed('#vv14', {% include 1X18X14.json %}).catch(console.error);
vegaEmbed('#vv15', {% include 1X18X15.json %}).catch(console.error);
vegaEmbed('#vv16', {% include 1X18X16.json %}).catch(console.error);
vegaEmbed('#vv17', {% include 1X18X17.json %}).catch(console.error);
vegaEmbed('#vv18', {% include 1X18X18.json %}).catch(console.error);
vegaEmbed('#vv19', {% include 1X18X19.json %}).catch(console.error);
vegaEmbed('#vv20', {% include 1X18X20.json %}).catch(console.error);
vegaEmbed('#vv21', {% include 1X18X21.json %}).catch(console.error);
vegaEmbed('#vv22', {% include 1X18X22.json %}).catch(console.error);
vegaEmbed('#vv23', {% include 1X18X23.json %}).catch(console.error);
vegaEmbed('#vv24', {% include 1X18X24.json %}).catch(console.error);
vegaEmbed('#vv25', {% include 1X18X25.json %}).catch(console.error);
vegaEmbed('#vv26', {% include 1X18X26.json %}).catch(console.error);
vegaEmbed('#vv27', {% include 1X18X27.json %}).catch(console.error);
vegaEmbed('#vv28', {% include 1X18X28.json %}).catch(console.error);
vegaEmbed('#vv29', {% include 1X18X29.json %}).catch(console.error);
vegaEmbed('#vv30', {% include 1X18X30.json %}).catch(console.error);
vegaEmbed('#vv31', {% include 1X18X31.json %}).catch(console.error);
vegaEmbed('#vv32', {% include 1X18X32.json %}).catch(console.error);
vegaEmbed('#vv33', {% include 1X18X33.json %}).catch(console.error);
vegaEmbed('#vv34', {% include 1X18X34.json %}).catch(console.error);
vegaEmbed('#vv35', {% include 1X18X35.json %}).catch(console.error);
vegaEmbed('#vv36', {% include 1X18X36.json %}).catch(console.error);
vegaEmbed('#vv37', {% include 1X18X37.json %}).catch(console.error);
vegaEmbed('#vv38', {% include 1X18X38.json %}).catch(console.error);
vegaEmbed('#vv39', {% include 1X18X39.json %}).catch(console.error);
vegaEmbed('#vv40', {% include 1X18X40.json %}).catch(console.error);
vegaEmbed('#vv41', {% include 1X18X41.json %}).catch(console.error);
vegaEmbed('#vv42', {% include 1X18X42.json %}).catch(console.error);
vegaEmbed('#vv43', {% include 1X18X43.json %}).catch(console.error);
vegaEmbed('#vv44', {% include 1X18X44.json %}).catch(console.error);
vegaEmbed('#vv45', {% include 1X18X45.json %}).catch(console.error);
vegaEmbed('#vv46', {% include 1X18X46.json %}).catch(console.error);
vegaEmbed('#vv47', {% include 1X18X47.json %}).catch(console.error);
vegaEmbed('#vv48', {% include 1X18X48.json %}).catch(console.error);
vegaEmbed('#vv49', {% include 1X18X49.json %}).catch(console.error);
vegaEmbed('#vv50', {% include 1X18X50.json %}).catch(console.error);
vegaEmbed('#vv51', {% include 1X18X51.json %}).catch(console.error);
vegaEmbed('#vv52', {% include 1X18X52.json %}).catch(console.error);
vegaEmbed('#vv53', {% include 1X18X53.json %}).catch(console.error);
vegaEmbed('#vv54', {% include 1X18X54.json %}).catch(console.error);
vegaEmbed('#vv55', {% include 1X18X55.json %}).catch(console.error);
vegaEmbed('#vv56', {% include 1X18X56.json %}).catch(console.error);
vegaEmbed('#vv57', {% include 1X18X57.json %}).catch(console.error);
vegaEmbed('#vv58', {% include 1X18X58.json %}).catch(console.error);
vegaEmbed('#vv59', {% include 1X18X59.json %}).catch(console.error);
vegaEmbed('#vv60', {% include 1X18X60.json %}).catch(console.error);
vegaEmbed('#vv61', {% include 1X18X61.json %}).catch(console.error);
vegaEmbed('#vv62', {% include 1X18X62.json %}).catch(console.error);
vegaEmbed('#vv63', {% include 1X18X63.json %}).catch(console.error);
vegaEmbed('#vv64', {% include 1X18X64.json %}).catch(console.error);
vegaEmbed('#vv65', {% include 1X18X65.json %}).catch(console.error);
vegaEmbed('#vv66', {% include 1X18X66.json %}).catch(console.error);
vegaEmbed('#vv67', {% include 1X18X67.json %}).catch(console.error);
vegaEmbed('#vv68', {% include 1X18X68.json %}).catch(console.error);
vegaEmbed('#vv69', {% include 1X18X69.json %}).catch(console.error);
vegaEmbed('#vv70', {% include 1X18X70.json %}).catch(console.error);
vegaEmbed('#vv71', {% include 1X18X71.json %}).catch(console.error);
vegaEmbed('#vv72', {% include 1X18X72.json %}).catch(console.error);
vegaEmbed('#vv73', {% include 1X18X73.json %}).catch(console.error);
vegaEmbed('#vv74', {% include 1X18X74.json %}).catch(console.error);
vegaEmbed('#vv75', {% include 1X18X75.json %}).catch(console.error);
vegaEmbed('#vv76', {% include 1X18X76.json %}).catch(console.error);</script>
</body>
</html>
