
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

<div style="text-align:center">
  
<div id="Budapest" class="tabcontent">
<div id="visc0"></div>
<div id="visc1"></div>
<div id="visc2"></div>
<div id="visc3"></div>
<div id="visc4"></div>
<div id="visc5"></div>
<div id="visc6"></div>
<div id="visc7"></div>
<div id="visc8"></div>
<div id="visc9"></div>
<div id="visc10"></div>
<div id="visc11"></div>
<div id="visc12"></div>
<div id="visc13"></div>
<div id="visc14"></div>
<div id="visc15"></div>
<div id="visc16"></div>
<div id="visc17"></div>
</div>

<div id="Baranya" class="tabcontent">
<div id="visc18"></div>
<div id="visc19"></div>
<div id="visc20"></div>
<div id="visc21"></div>
</div>

<div id="Bacs" class="tabcontent">
<div id="visc22"></div>
<div id="visc23"></div>
<div id="visc24"></div>
<div id="visc25"></div>
<div id="visc26"></div>
<div id="visc27"></div>
</div>

<div id="Vas" class="tabcontent">
<div id="visc96"></div>
<div id="visc97"></div>
<div id="visc98"></div>
</div>

<div id="Zala" class="tabcontent">
<div id="visc103"></div>
<div id="visc104"></div>
<div id="visc105"></div>
</div>

<div id="Veszprem" class="tabcontent">
<div id="visc99"></div>
<div id="visc100"></div>
<div id="visc101"></div>
<div id="visc102"></div>
</div>

<div id="Gyor" class="tabcontent">
<div id="visc48"></div>
<div id="visc49"></div>
<div id="visc50"></div>
<div id="visc51"></div>
<div id="visc52"></div>
</div>

<div id="Komarom" class="tabcontent">
<div id="visc66"></div>
<div id="visc67"></div>
<div id="visc68"></div>
</div>

<div id="Pest" class="tabcontent">
<div id="visc71"></div>
<div id="visc72"></div>
<div id="visc73"></div>
<div id="visc74"></div>
<div id="visc75"></div>
<div id="visc76"></div>
<div id="visc77"></div>
<div id="visc78"></div>
<div id="visc79"></div>
<div id="visc80"></div>
<div id="visc81"></div>
<div id="visc82"></div>
</div>

<div id="Fejer" class="tabcontent">
<div id="visc43"></div>
<div id="visc44"></div>
<div id="visc45"></div>
<div id="visc46"></div>
<div id="visc47"></div>
</div>

<div id="Somogy" class="tabcontent">
<div id="visc83"></div>
<div id="visc84"></div>
<div id="visc85"></div>
<div id="visc86"></div>
</div>

<div id="Tolna" class="tabcontent">
<div id="visc93"></div>
<div id="visc94"></div>
<div id="visc95"></div>
</div>

<div id="Nograd" class="tabcontent">
<div id="visc69"></div>
<div id="visc70"></div>
</div>

<div id="Heves" class="tabcontent">
<div id="visc59"></div>
<div id="visc60"></div>
<div id="visc61"></div>
</div>

<div id="Bekes" class="tabcontent">
<div id="visc28"></div>
<div id="visc29"></div>
<div id="visc30"></div>
<div id="visc31"></div>
</div>

<div id="Jasz" class="tabcontent">
<div id="visc62"></div>
<div id="visc63"></div>
<div id="visc64"></div>
<div id="visc65"></div>
</div>

<div id="Csongrad" class="tabcontent">
<div id="visc39"></div>
<div id="visc40"></div>
<div id="visc41"></div>
<div id="visc42"></div>
</div>

<div id="Hajdu" class="tabcontent">
<div id="visc53"></div>
<div id="visc54"></div>
<div id="visc55"></div>
<div id="visc56"></div>
<div id="visc57"></div>
<div id="visc58"></div>
</div>

<div id="Szabolcs" class="tabcontent">
<div id="visc87"></div>
<div id="visc88"></div>
<div id="visc89"></div>
<div id="visc90"></div>
<div id="visc91"></div>
<div id="visc92"></div>
</div>

<div id="Borsod" class="tabcontent">
<div id="visc32"></div>
<div id="visc33"></div>
<div id="visc34"></div>
<div id="visc35"></div>
<div id="visc36"></div>
<div id="visc37"></div>
<div id="visc38"></div>
</div>

</div>  
  
<script type="text/javascript">
vegaEmbed('#visc0', {% include BUDAPEST01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc1', {% include BUDAPEST02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc2', {% include BUDAPEST03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc3', {% include BUDAPEST04szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc4', {% include BUDAPEST05szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc5', {% include BUDAPEST06szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc6', {% include BUDAPEST07szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc7', {% include BUDAPEST08szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc8', {% include BUDAPEST09szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc9', {% include BUDAPEST10szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc10', {% include BUDAPEST11szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc11', {% include BUDAPEST12szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc12', {% include BUDAPEST13szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc13', {% include BUDAPEST14szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc14', {% include BUDAPEST15szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc15', {% include BUDAPEST16szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc16', {% include BUDAPEST17szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc17', {% include BUDAPEST18szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc18', {% include BARANYA01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc19', {% include BARANYA02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc20', {% include BARANYA03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc21', {% include BARANYA04szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc22', {% include BACSKISKUN01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc23', {% include BACSKISKUN02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc24', {% include BACSKISKUN03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc25', {% include BACSKISKUN04szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc26', {% include BACSKISKUN05szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc27', {% include BACSKISKUN06szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc28', {% include BEKES01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc29', {% include BEKES02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc30', {% include BEKES03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc31', {% include BEKES04szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc32', {% include BORSODABAUJZEMPLEN01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc33', {% include BORSODABAUJZEMPLEN02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc34', {% include BORSODABAUJZEMPLEN03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc35', {% include BORSODABAUJZEMPLEN04szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc36', {% include BORSODABAUJZEMPLEN05szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc37', {% include BORSODABAUJZEMPLEN06szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc38', {% include BORSODABAUJZEMPLEN07szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc39', {% include CSONGRADCSANAD01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc40', {% include CSONGRADCSANAD02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc41', {% include CSONGRADCSANAD03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc42', {% include CSONGRADCSANAD04szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc43', {% include FEJER01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc44', {% include FEJER02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc45', {% include FEJER03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc46', {% include FEJER04szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc47', {% include FEJER05szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc48', {% include GYORMOSONSOPRON01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc49', {% include GYORMOSONSOPRON02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc50', {% include GYORMOSONSOPRON03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc51', {% include GYORMOSONSOPRON04szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc52', {% include GYORMOSONSOPRON05szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc53', {% include HAJDUBIHAR01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc54', {% include HAJDUBIHAR02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc55', {% include HAJDUBIHAR03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc56', {% include HAJDUBIHAR04szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc57', {% include HAJDUBIHAR05szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc58', {% include HAJDUBIHAR06szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc59', {% include HEVES01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc60', {% include HEVES02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc61', {% include HEVES03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc62', {% include JASZNAGYKUNSZOLNOK01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc63', {% include JASZNAGYKUNSZOLNOK02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc64', {% include JASZNAGYKUNSZOLNOK03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc65', {% include JASZNAGYKUNSZOLNOK04szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc66', {% include KOMAROMESZTERGOM01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc67', {% include KOMAROMESZTERGOM02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc68', {% include KOMAROMESZTERGOM03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc69', {% include NOGRAD01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc70', {% include NOGRAD02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc71', {% include PEST01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc72', {% include PEST02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc73', {% include PEST03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc74', {% include PEST04szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc75', {% include PEST05szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc76', {% include PEST06szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc77', {% include PEST07szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc78', {% include PEST08szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc79', {% include PEST09szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc80', {% include PEST10szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc81', {% include PEST11szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc82', {% include PEST12szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc83', {% include SOMOGY01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc84', {% include SOMOGY02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc85', {% include SOMOGY03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc86', {% include SOMOGY04szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc87', {% include SZABOLCSSZATMARBEREG01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc88', {% include SZABOLCSSZATMARBEREG02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc89', {% include SZABOLCSSZATMARBEREG03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc90', {% include SZABOLCSSZATMARBEREG04szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc91', {% include SZABOLCSSZATMARBEREG05szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc92', {% include SZABOLCSSZATMARBEREG06szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc93', {% include TOLNA01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc94', {% include TOLNA02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc95', {% include TOLNA03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc96', {% include VAS01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc97', {% include VAS02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc98', {% include VAS03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc99', {% include VESZPREM01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc100', {% include VESZPREM02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc101', {% include VESZPREM03szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc102', {% include VESZPREM04szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc103', {% include ZALA01szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc104', {% include ZALA02szamuOEVK.json %}).catch(console.error);
vegaEmbed('#visc105', {% include ZALA03szamuOEVK.json %}).catch(console.error);
</script>
</body>
