<!-- Tab content -->

<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>


  
<div id="Budapest" class="tabcontent">
  <h3>Budapest</h3>
  <div id="visc1"></div>
</div>

<div id="Baranya" class="tabcontent">
  <h3>Baranya</h3>
  <div id="visc2"></div>
</div>

<div id="Bacs" class="tabcontent">
  <h3>Bács-Kiskun</h3>
  <div id="visc3"></div>
</div>

<div id="Vas" class="tabcontent">
  <h3>Vas</h3>
  <div id="visc4"></div>
</div>

<div id="Zala" class="tabcontent">
  <h3>Zala</h3>
  <div id="visc5"></div>
</div>

<div id="Veszprem" class="tabcontent">
  <h3>Veszprém</h3>
  <div id="visc6"></div>
</div>

<div id="Gyor" class="tabcontent">
  <h3>Győr-Moson-Sopron</h3>
  <div id="visc7"></div>
</div>

<div id="Komarom" class="tabcontent">
  <h3>Komárom-Esztergom</h3>
  <div id="visc8"></div>
</div>

<div id="Pest" class="tabcontent">
  <h3>Pest</h3>
  <div id="visc9"></div>
</div>

<div id="Fejer" class="tabcontent">
  <h3>Fejér</h3>
  <div id="visc10"></div>
</div>

<div id="Somogy" class="tabcontent">
  <h3>Somogy</h3>
  <div id="visc11"></div>
</div>

<div id="Tolna" class="tabcontent">
  <h3>Tolna</h3>
  <div id="visc12"></div>
</div>

<div id="Nograd" class="tabcontent">
  <h3>Nógrád</h3>
  <div id="visc13"></div>
</div>

<div id="Heves" class="tabcontent">
  <h3>Heves</h3>
  <div id="visc14"></div>
</div>

<div id="Bekes" class="tabcontent">
  <h3>Békés</h3>
  <div id="visc15"></div>
</div>

<div id="Jasz" class="tabcontent">
  <h3>Jász-Nagykun-Szolnok</h3>
  <div id="visc16"></div>
</div>

<div id="Csongrad" class="tabcontent">
  <h3>Csongrád-Csanád</h3>
  <div id="visc17"></div>
</div>

<div id="Hajdu" class="tabcontent">
  <h3>Hajdú-Bihar</h3>
  <div id="visc18"></div>
</div>

<div id="Szabolcs" class="tabcontent">
  <h3>Szabolcs-Szatmár-Bereg</h3>
  <div id="visc19"></div>
</div>

<div id="Borsod" class="tabcontent">
  <h3>Borsod-Abaúj-Zemplén</h3>
  <div id="visc20"></div>
</div>

<script type="text/javascript">
  vegaEmbed('#visc1', {% include BUDAPEST.json %}).catch(console.error);
  vegaEmbed('#visc2', {% include BARANYA.json %}).catch(console.error);
  vegaEmbed('#visc3', {% include BÁCS-KISKUN.json %}).catch(console.error);
  vegaEmbed('#visc4', {% include VAS.json %}).catch(console.error);
  vegaEmbed('#visc5', {% include ZALA.json %}).catch(console.error);
  vegaEmbed('#visc6', {% include VESZPRÉM.json %}).catch(console.error);
  vegaEmbed('#visc7', {% include GYŐR-MOSON-SOPRON.json %}).catch(console.error);
  vegaEmbed('#visc8', {% include KOMÁROM-ESZTERGOM.json %}).catch(console.error);
  vegaEmbed('#visc9', {% include PEST.json %}).catch(console.error);
  vegaEmbed('#visc10', {% include FEJÉR.json %}).catch(console.error);
  vegaEmbed('#visc11', {% include SOMOGY.json %}).catch(console.error);
  vegaEmbed('#visc12', {% include TOLNA.json %}).catch(console.error);
  vegaEmbed('#visc13', {% include NÓGRÁD.json %}).catch(console.error);
  vegaEmbed('#visc14', {% include HEVES.json %}).catch(console.error);
  vegaEmbed('#visc15', {% include BÉKÉS.json %}).catch(console.error);
  vegaEmbed('#visc16', {% include JÁSZ-NAGYKUN-SZOLNOK.json %}).catch(console.error);
  vegaEmbed('#visc17', {% include CSONGRÁD-CSANÁD.json %}).catch(console.error);
  vegaEmbed('#visc18', {% include HAJDÚ-BIHAR.json %}).catch(console.error);
  vegaEmbed('#visc19', {% include SZABOLCS-SZATMÁR-BEREG.json %}).catch(console.error);
  vegaEmbed('#visc20', {% include BORSOD-ABAÚJ-ZEMPLÉN.json %}).catch(console.error);
</script>
</body>
</html>
