<!-- Tab content -->

<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>


  
<div id="Budapest" class="tabcontent">
  <h3>Budapest</h3>
  <div id="visc1"></div>
</div>

<div id="Baranya" class="tabcontent">
  <h3>Baranya</h3>
  <p>Adatok.</p>
</div>

<div id="Bacs" class="tabcontent">
  <h3>Bács-Kiskun</h3>
  <p>Adatok.</p>
</div>

<div id="Vas" class="tabcontent">
  <h3>Vas</h3>
  <p>Adatok.</p>
</div>

<div id="Zala" class="tabcontent">
  <h3>Zala</h3>
  <p>Adatok.</p>
</div>

<div id="Veszprem" class="tabcontent">
  <h3>Veszprém</h3>
  <p>Adatok.</p>
</div>

<div id="Gyor" class="tabcontent">
  <h3>Győr-Moson-Sopron</h3>
  <p>Adatok.</p>
</div>

<div id="Komarom" class="tabcontent">
  <h3>Komárom-Esztergom</h3>
  <p>Adatok.</p>
</div>

<div id="Pest" class="tabcontent">
  <h3>Pest</h3>
  <p>Adatok.</p>
</div>

<div id="Fejer" class="tabcontent">
  <h3>Fejér</h3>
  <p>Adatok.</p>
</div>

<div id="Somogy" class="tabcontent">
  <h3>Somogy</h3>
  <p>Adatok.</p>
</div>

<div id="Tolna" class="tabcontent">
  <h3>Tolna</h3>
  <p>Adatok.</p>
</div>

<div id="Nograd" class="tabcontent">
  <h3>Nógrád</h3>
  <p>Adatok.</p>
</div>

<div id="Heves" class="tabcontent">
  <h3>Heves</h3>
  <p>Adatok.</p>
</div>

<div id="Bekes" class="tabcontent">
  <h3>Békés</h3>
  <p>Adatok.</p>
</div>

<div id="Jasz" class="tabcontent">
  <h3>Jász-Nagykun-Szolnok</h3>
  <p>Adatok.</p>
</div>

<div id="Csongrad" class="tabcontent">
  <h3>Csongrád-Csanád</h3>
  <p>Adatok.</p>
</div>

<div id="Hajdu" class="tabcontent">
  <h3>Hajdú-Bihar</h3>
  <p>Adatok.</p>
</div>

<div id="Szabolcs" class="tabcontent">
  <h3>Szabolcs-Szatmár-Bereg</h3>
  <p>Adatok.</p>
</div>

<div id="Borsod" class="tabcontent">
  <h3>Borsod-Abaúj-Zemplén</h3>
  <p>Adatok.</p>
</div>

<script type="text/javascript">
  vegaEmbed('#visc1', {% include BUDAPEST.json %}).catch(console.error);
</script>
</body>
</html>
