<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

<div style="text-align:center">

<div id="vv1"></div>
<div id="vv2"></div>
<div id="vv3"></div>
<div id="vv4"></div>
<div id="vv5"></div>
<div id="vv6"></div>
<div id="vv7"></div>
<div id="vv8"></div>
<div id="vv9"></div>
<div id="vv10"></div>
<div id="vv11"></div>
<div id="vv12"></div>
<div id="vv13"></div>
<div id="vv14"></div>
<div id="vv15"></div>
<div id="vv16"></div>
<div id="vv17"></div>
<div id="vv18"></div>
<div id="vv19"></div>
<div id="vv20"></div>
<div id="vv21"></div>
<div id="vv22"></div>
<div id="vv23"></div>
<div id="vv24"></div>
<div id="vv25"></div>
<div id="vv26"></div>
<div id="vv27"></div>
<div id="vv28"></div>
<div id="vv29"></div>
<div id="vv30"></div>
<div id="vv31"></div>
<div id="vv32"></div>
<div id="vv33"></div>
<div id="vv34"></div>
<div id="vv35"></div>
<div id="vv36"></div>
<div id="vv37"></div>
<div id="vv38"></div>
<div id="vv39"></div>
<div id="vv40"></div>
<div id="vv41"></div>
<div id="vv42"></div>
<div id="vv43"></div>
<div id="vv44"></div>
<div id="vv45"></div>
<div id="vv46"></div>
<div id="vv47"></div>
<div id="vv48"></div>
<div id="vv49"></div>
<div id="vv50"></div>
<div id="vv51"></div>
<div id="vv52"></div>
<div id="vv53"></div>
<div id="vv54"></div>
<div id="vv55"></div>
<div id="vv56"></div>
<div id="vv57"></div>
<div id="vv58"></div>
<div id="vv59"></div>
<div id="vv60"></div>
<div id="vv61"></div>
<div id="vv62"></div>
<div id="vv63"></div>
<div id="vv64"></div>
<div id="vv65"></div>
<div id="vv66"></div>
<div id="vv67"></div>
<div id="vv68"></div>
<div id="vv69"></div>
<div id="vv70"></div>
<div id="vv71"></div>
<div id="vv72"></div>
<div id="vv73"></div>
<div id="vv74"></div>
<div id="vv75"></div>
<div id="vv76"></div>
<div id="vv77"></div>
<div id="vv78"></div>
<div id="vv79"></div>
<div id="vv80"></div>
<div id="vv81"></div>
<div id="vv82"></div>
<div id="vv83"></div>
<div id="vv84"></div>
<div id="vv85"></div>
<div id="vv86"></div>
<div id="vv87"></div>
<div id="vv88"></div>
<div id="vv89"></div>
<div id="vv90"></div>
<div id="vv91"></div>
<div id="vv92"></div>
<div id="vv93"></div>
<div id="vv94"></div>
<div id="vv95"></div>
<div id="vv96"></div>
<div id="vv97"></div>
<div id="vv98"></div>
<div id="vv99"></div>
<div id="vv100"></div>
<div id="vv101"></div>
<div id="vv102"></div>
<div id="vv103"></div>
<div id="vv104"></div>
<div id="vv105"></div>
<div id="vv106"></div>
<div id="vv107"></div>
<div id="vv108"></div>
<div id="vv109"></div>
<div id="vv110"></div>
<div id="vv111"></div>
<div id="vv112"></div>
<div id="vv113"></div>
<div id="vv114"></div>
<div id="vv115"></div>
<div id="vv116"></div>
<div id="vv117"></div>
<div id="vv118"></div>
<div id="vv119"></div>
<div id="vv120"></div>
<div id="vv121"></div>
<div id="vv122"></div>
<div id="vv123"></div>
<div id="vv124"></div>
<div id="vv125"></div>
<div id="vv126"></div>
<div id="vv127"></div>
<div id="vv128"></div>
<div id="vv129"></div>
<div id="vv130"></div>
<div id="vv131"></div>
<div id="vv132"></div>
<div id="vv133"></div>
<div id="vv134"></div>
<div id="vv135"></div>
<div id="vv136"></div>
<div id="vv137"></div>
<div id="vv138"></div>
</div>
<script type="text/javascript">

vegaEmbed('#vv1', {% include SZKfigures/9X18X1.json %}).catch(console.error);
vegaEmbed('#vv2', {% include SZKfigures/9X18X11.json %}).catch(console.error);
vegaEmbed('#vv3', {% include SZKfigures/9X18X12.json %}).catch(console.error);
vegaEmbed('#vv4', {% include SZKfigures/9X18X13.json %}).catch(console.error);
vegaEmbed('#vv5', {% include SZKfigures/9X18X14.json %}).catch(console.error);
vegaEmbed('#vv6', {% include SZKfigures/9X18X15.json %}).catch(console.error);
vegaEmbed('#vv7', {% include SZKfigures/9X18X16.json %}).catch(console.error);
vegaEmbed('#vv8', {% include SZKfigures/9X18X21.json %}).catch(console.error);
vegaEmbed('#vv9', {% include SZKfigures/9X18X22.json %}).catch(console.error);
vegaEmbed('#vv10', {% include SZKfigures/9X18X23.json %}).catch(console.error);
vegaEmbed('#vv11', {% include SZKfigures/9X18X24.json %}).catch(console.error);
vegaEmbed('#vv12', {% include SZKfigures/9X18X25.json %}).catch(console.error);
vegaEmbed('#vv13', {% include SZKfigures/9X18X31.json %}).catch(console.error);
vegaEmbed('#vv14', {% include SZKfigures/9X18X32.json %}).catch(console.error);
vegaEmbed('#vv15', {% include SZKfigures/9X18X33.json %}).catch(console.error);
vegaEmbed('#vv16', {% include SZKfigures/9X18X34.json %}).catch(console.error);
vegaEmbed('#vv17', {% include SZKfigures/9X18X35.json %}).catch(console.error);
vegaEmbed('#vv18', {% include SZKfigures/9X18X41.json %}).catch(console.error);
vegaEmbed('#vv19', {% include SZKfigures/9X18X42.json %}).catch(console.error);
vegaEmbed('#vv20', {% include SZKfigures/9X18X43.json %}).catch(console.error);
vegaEmbed('#vv21', {% include SZKfigures/9X18X44.json %}).catch(console.error);
vegaEmbed('#vv22', {% include SZKfigures/9X18X45.json %}).catch(console.error);
vegaEmbed('#vv23', {% include SZKfigures/9X18X46.json %}).catch(console.error);
vegaEmbed('#vv24', {% include SZKfigures/9X18X51.json %}).catch(console.error);
vegaEmbed('#vv25', {% include SZKfigures/9X18X52.json %}).catch(console.error);
vegaEmbed('#vv26', {% include SZKfigures/9X18X53.json %}).catch(console.error);
vegaEmbed('#vv27', {% include SZKfigures/9X18X54.json %}).catch(console.error);
vegaEmbed('#vv28', {% include SZKfigures/9X18X55.json %}).catch(console.error);
vegaEmbed('#vv29', {% include SZKfigures/9X18X61.json %}).catch(console.error);
vegaEmbed('#vv30', {% include SZKfigures/9X18X62.json %}).catch(console.error);
vegaEmbed('#vv31', {% include SZKfigures/9X18X63.json %}).catch(console.error);
vegaEmbed('#vv32', {% include SZKfigures/9X18X64.json %}).catch(console.error);
vegaEmbed('#vv33', {% include SZKfigures/9X18X65.json %}).catch(console.error);
vegaEmbed('#vv34', {% include SZKfigures/9X18X66.json %}).catch(console.error);
vegaEmbed('#vv35', {% include SZKfigures/9X18X67.json %}).catch(console.error);
vegaEmbed('#vv36', {% include SZKfigures/9X18X71.json %}).catch(console.error);
vegaEmbed('#vv37', {% include SZKfigures/9X18X72.json %}).catch(console.error);
vegaEmbed('#vv38', {% include SZKfigures/9X18X73.json %}).catch(console.error);
vegaEmbed('#vv39', {% include SZKfigures/9X18X74.json %}).catch(console.error);
vegaEmbed('#vv40', {% include SZKfigures/9X18X75.json %}).catch(console.error);
vegaEmbed('#vv41', {% include SZKfigures/9X18X76.json %}).catch(console.error);
vegaEmbed('#vv42', {% include SZKfigures/9X18X81.json %}).catch(console.error);
vegaEmbed('#vv43', {% include SZKfigures/9X18X82.json %}).catch(console.error);
vegaEmbed('#vv44', {% include SZKfigures/9X18X83.json %}).catch(console.error);
vegaEmbed('#vv45', {% include SZKfigures/9X18X84.json %}).catch(console.error);
vegaEmbed('#vv46', {% include SZKfigures/9X18X85.json %}).catch(console.error);
vegaEmbed('#vv47', {% include SZKfigures/9X18X86.json %}).catch(console.error);
vegaEmbed('#vv48', {% include SZKfigures/9X18X91.json %}).catch(console.error);
vegaEmbed('#vv49', {% include SZKfigures/9X18X92.json %}).catch(console.error);
vegaEmbed('#vv50', {% include SZKfigures/9X18X93.json %}).catch(console.error);
vegaEmbed('#vv51', {% include SZKfigures/9X18X94.json %}).catch(console.error);
vegaEmbed('#vv52', {% include SZKfigures/9X18X95.json %}).catch(console.error);
vegaEmbed('#vv53', {% include SZKfigures/9X18X101.json %}).catch(console.error);
vegaEmbed('#vv54', {% include SZKfigures/9X18X102.json %}).catch(console.error);
vegaEmbed('#vv55', {% include SZKfigures/9X18X103.json %}).catch(console.error);
vegaEmbed('#vv56', {% include SZKfigures/9X18X104.json %}).catch(console.error);
vegaEmbed('#vv57', {% include SZKfigures/9X18X105.json %}).catch(console.error);
vegaEmbed('#vv58', {% include SZKfigures/9X18X106.json %}).catch(console.error);
vegaEmbed('#vv59', {% include SZKfigures/9X18X111.json %}).catch(console.error);
vegaEmbed('#vv60', {% include SZKfigures/9X18X112.json %}).catch(console.error);
vegaEmbed('#vv61', {% include SZKfigures/9X18X113.json %}).catch(console.error);
vegaEmbed('#vv62', {% include SZKfigures/9X18X114.json %}).catch(console.error);
vegaEmbed('#vv63', {% include SZKfigures/9X18X115.json %}).catch(console.error);
vegaEmbed('#vv64', {% include SZKfigures/9X18X116.json %}).catch(console.error);
vegaEmbed('#vv65', {% include SZKfigures/9X18X117.json %}).catch(console.error);
vegaEmbed('#vv66', {% include SZKfigures/9X18X121.json %}).catch(console.error);
vegaEmbed('#vv67', {% include SZKfigures/9X18X122.json %}).catch(console.error);
vegaEmbed('#vv68', {% include SZKfigures/9X18X123.json %}).catch(console.error);
vegaEmbed('#vv69', {% include SZKfigures/9X18X124.json %}).catch(console.error);
vegaEmbed('#vv70', {% include SZKfigures/9X18X125.json %}).catch(console.error);
vegaEmbed('#vv71', {% include SZKfigures/9X18X126.json %}).catch(console.error);
vegaEmbed('#vv72', {% include SZKfigures/9X18X127.json %}).catch(console.error);
vegaEmbed('#vv73', {% include SZKfigures/9X18X131.json %}).catch(console.error);
vegaEmbed('#vv74', {% include SZKfigures/9X18X132.json %}).catch(console.error);
vegaEmbed('#vv75', {% include SZKfigures/9X18X133.json %}).catch(console.error);
vegaEmbed('#vv76', {% include SZKfigures/9X18X134.json %}).catch(console.error);
vegaEmbed('#vv77', {% include SZKfigures/9X18X135.json %}).catch(console.error);
vegaEmbed('#vv78', {% include SZKfigures/9X18X136.json %}).catch(console.error);
vegaEmbed('#vv79', {% include SZKfigures/9X18X141.json %}).catch(console.error);
vegaEmbed('#vv80', {% include SZKfigures/9X18X142.json %}).catch(console.error);
vegaEmbed('#vv81', {% include SZKfigures/9X18X143.json %}).catch(console.error);
vegaEmbed('#vv82', {% include SZKfigures/9X18X144.json %}).catch(console.error);
vegaEmbed('#vv83', {% include SZKfigures/9X18X145.json %}).catch(console.error);
vegaEmbed('#vv84', {% include SZKfigures/9X18X151.json %}).catch(console.error);
vegaEmbed('#vv85', {% include SZKfigures/9X18X152.json %}).catch(console.error);
vegaEmbed('#vv86', {% include SZKfigures/9X18X153.json %}).catch(console.error);
vegaEmbed('#vv87', {% include SZKfigures/9X18X154.json %}).catch(console.error);
vegaEmbed('#vv88', {% include SZKfigures/9X18X155.json %}).catch(console.error);
vegaEmbed('#vv89', {% include SZKfigures/9X18X156.json %}).catch(console.error);
vegaEmbed('#vv90', {% include SZKfigures/9X18X161.json %}).catch(console.error);
vegaEmbed('#vv91', {% include SZKfigures/9X18X162.json %}).catch(console.error);
vegaEmbed('#vv92', {% include SZKfigures/9X18X163.json %}).catch(console.error);
vegaEmbed('#vv93', {% include SZKfigures/9X18X164.json %}).catch(console.error);
vegaEmbed('#vv94', {% include SZKfigures/9X18X165.json %}).catch(console.error);
vegaEmbed('#vv95', {% include SZKfigures/9X18X171.json %}).catch(console.error);
vegaEmbed('#vv96', {% include SZKfigures/9X18X172.json %}).catch(console.error);
vegaEmbed('#vv97', {% include SZKfigures/9X18X173.json %}).catch(console.error);
vegaEmbed('#vv98', {% include SZKfigures/9X18X174.json %}).catch(console.error);
vegaEmbed('#vv99', {% include SZKfigures/9X18X175.json %}).catch(console.error);
vegaEmbed('#vv100', {% include SZKfigures/9X18X176.json %}).catch(console.error);
vegaEmbed('#vv101', {% include SZKfigures/9X18X181.json %}).catch(console.error);
vegaEmbed('#vv102', {% include SZKfigures/9X18X182.json %}).catch(console.error);
vegaEmbed('#vv103', {% include SZKfigures/9X18X183.json %}).catch(console.error);
vegaEmbed('#vv104', {% include SZKfigures/9X18X184.json %}).catch(console.error);
vegaEmbed('#vv105', {% include SZKfigures/9X18X185.json %}).catch(console.error);
vegaEmbed('#vv106', {% include SZKfigures/9X18X186.json %}).catch(console.error);
vegaEmbed('#vv107', {% include SZKfigures/9X18X187.json %}).catch(console.error);
vegaEmbed('#vv108', {% include SZKfigures/9X18X188.json %}).catch(console.error);
vegaEmbed('#vv109', {% include SZKfigures/9X18X191.json %}).catch(console.error);
vegaEmbed('#vv110', {% include SZKfigures/9X18X192.json %}).catch(console.error);
vegaEmbed('#vv111', {% include SZKfigures/9X18X193.json %}).catch(console.error);
vegaEmbed('#vv112', {% include SZKfigures/9X18X194.json %}).catch(console.error);
vegaEmbed('#vv113', {% include SZKfigures/9X18X195.json %}).catch(console.error);
vegaEmbed('#vv114', {% include SZKfigures/9X18X196.json %}).catch(console.error);
vegaEmbed('#vv115', {% include SZKfigures/9X18X201.json %}).catch(console.error);
vegaEmbed('#vv116', {% include SZKfigures/9X18X202.json %}).catch(console.error);
vegaEmbed('#vv117', {% include SZKfigures/9X18X203.json %}).catch(console.error);
vegaEmbed('#vv118', {% include SZKfigures/9X18X204.json %}).catch(console.error);
vegaEmbed('#vv119', {% include SZKfigures/9X18X205.json %}).catch(console.error);
vegaEmbed('#vv120', {% include SZKfigures/9X18X211.json %}).catch(console.error);
vegaEmbed('#vv121', {% include SZKfigures/9X18X212.json %}).catch(console.error);
vegaEmbed('#vv122', {% include SZKfigures/9X18X213.json %}).catch(console.error);
vegaEmbed('#vv123', {% include SZKfigures/9X18X214.json %}).catch(console.error);
vegaEmbed('#vv124', {% include SZKfigures/9X18X215.json %}).catch(console.error);
vegaEmbed('#vv125', {% include SZKfigures/9X18X216.json %}).catch(console.error);
vegaEmbed('#vv126', {% include SZKfigures/9X18X217.json %}).catch(console.error);
vegaEmbed('#vv127', {% include SZKfigures/9X18X218.json %}).catch(console.error);
vegaEmbed('#vv128', {% include SZKfigures/9X18X221.json %}).catch(console.error);
vegaEmbed('#vv129', {% include SZKfigures/9X18X222.json %}).catch(console.error);
vegaEmbed('#vv130', {% include SZKfigures/9X18X223.json %}).catch(console.error);
vegaEmbed('#vv131', {% include SZKfigures/9X18X224.json %}).catch(console.error);
vegaEmbed('#vv132', {% include SZKfigures/9X18X225.json %}).catch(console.error);
vegaEmbed('#vv133', {% include SZKfigures/9X18X231.json %}).catch(console.error);
vegaEmbed('#vv134', {% include SZKfigures/9X18X232.json %}).catch(console.error);
vegaEmbed('#vv135', {% include SZKfigures/9X18X233.json %}).catch(console.error);
vegaEmbed('#vv136', {% include SZKfigures/9X18X234.json %}).catch(console.error);
vegaEmbed('#vv137', {% include SZKfigures/9X18X235.json %}).catch(console.error);
vegaEmbed('#vv138', {% include SZKfigures/9X18X236.json %}).catch(console.error);</script>
</body>
</html>
