<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

<div style="text-align:center">

<div id="vv1"></div>
<div id="vv2"></div>
<div id="vv3"></div>
<div id="vv4"></div>
<div id="vv5"></div>
<div id="vv6"></div>
<div id="vv7"></div>
<div id="vv8"></div>
<div id="vv9"></div>
<div id="vv10"></div>
<div id="vv11"></div>
<div id="vv12"></div>
<div id="vv13"></div>
<div id="vv14"></div>
<div id="vv15"></div>
<div id="vv16"></div>
<div id="vv17"></div>
<div id="vv18"></div>
<div id="vv19"></div>
<div id="vv20"></div>
<div id="vv21"></div>
<div id="vv22"></div>
<div id="vv23"></div>
<div id="vv24"></div>
<div id="vv25"></div>
<div id="vv26"></div>
<div id="vv27"></div>
<div id="vv28"></div>
<div id="vv29"></div>
<div id="vv30"></div>
<div id="vv31"></div>
<div id="vv32"></div>
<div id="vv33"></div>
<div id="vv34"></div>
<div id="vv35"></div>
<div id="vv36"></div>
<div id="vv37"></div>
<div id="vv38"></div>
<div id="vv39"></div>
<div id="vv40"></div>
<div id="vv41"></div>
<div id="vv42"></div>
<div id="vv43"></div>
<div id="vv44"></div>
<div id="vv45"></div>
<div id="vv46"></div>
<div id="vv47"></div>
<div id="vv48"></div>
</div>
<script type="text/javascript">

vegaEmbed('#vv1', {% include 7X24X1.json %}).catch(console.error);
vegaEmbed('#vv2', {% include 7X24X2.json %}).catch(console.error);
vegaEmbed('#vv3', {% include 7X24X3.json %}).catch(console.error);
vegaEmbed('#vv4', {% include 7X24X4.json %}).catch(console.error);
vegaEmbed('#vv5', {% include 7X24X5.json %}).catch(console.error);
vegaEmbed('#vv6', {% include 7X24X6.json %}).catch(console.error);
vegaEmbed('#vv7', {% include 7X24X7.json %}).catch(console.error);
vegaEmbed('#vv8', {% include 7X24X8.json %}).catch(console.error);
vegaEmbed('#vv9', {% include 7X24X9.json %}).catch(console.error);
vegaEmbed('#vv10', {% include 7X24X10.json %}).catch(console.error);
vegaEmbed('#vv11', {% include 7X24X11.json %}).catch(console.error);
vegaEmbed('#vv12', {% include 7X24X12.json %}).catch(console.error);
vegaEmbed('#vv13', {% include 7X24X13.json %}).catch(console.error);
vegaEmbed('#vv14', {% include 7X24X14.json %}).catch(console.error);
vegaEmbed('#vv15', {% include 7X24X15.json %}).catch(console.error);
vegaEmbed('#vv16', {% include 7X24X16.json %}).catch(console.error);
vegaEmbed('#vv17', {% include 7X24X17.json %}).catch(console.error);
vegaEmbed('#vv18', {% include 7X24X18.json %}).catch(console.error);
vegaEmbed('#vv19', {% include 7X24X19.json %}).catch(console.error);
vegaEmbed('#vv20', {% include 7X24X20.json %}).catch(console.error);
vegaEmbed('#vv21', {% include 7X24X21.json %}).catch(console.error);
vegaEmbed('#vv22', {% include 7X24X22.json %}).catch(console.error);
vegaEmbed('#vv23', {% include 7X24X23.json %}).catch(console.error);
vegaEmbed('#vv24', {% include 7X24X24.json %}).catch(console.error);
vegaEmbed('#vv25', {% include 7X24X25.json %}).catch(console.error);
vegaEmbed('#vv26', {% include 7X24X26.json %}).catch(console.error);
vegaEmbed('#vv27', {% include 7X24X27.json %}).catch(console.error);
vegaEmbed('#vv28', {% include 7X24X28.json %}).catch(console.error);
vegaEmbed('#vv29', {% include 7X24X29.json %}).catch(console.error);
vegaEmbed('#vv30', {% include 7X24X30.json %}).catch(console.error);
vegaEmbed('#vv31', {% include 7X24X31.json %}).catch(console.error);
vegaEmbed('#vv32', {% include 7X24X32.json %}).catch(console.error);
vegaEmbed('#vv33', {% include 7X24X33.json %}).catch(console.error);
vegaEmbed('#vv34', {% include 7X24X34.json %}).catch(console.error);
vegaEmbed('#vv35', {% include 7X24X35.json %}).catch(console.error);
vegaEmbed('#vv36', {% include 7X24X36.json %}).catch(console.error);
vegaEmbed('#vv37', {% include 7X24X37.json %}).catch(console.error);
vegaEmbed('#vv38', {% include 7X24X38.json %}).catch(console.error);
vegaEmbed('#vv39', {% include 7X24X39.json %}).catch(console.error);
vegaEmbed('#vv40', {% include 7X24X40.json %}).catch(console.error);
vegaEmbed('#vv41', {% include 7X24X41.json %}).catch(console.error);
vegaEmbed('#vv42', {% include 7X24X42.json %}).catch(console.error);
vegaEmbed('#vv43', {% include 7X24X43.json %}).catch(console.error);
vegaEmbed('#vv44', {% include 7X24X44.json %}).catch(console.error);
vegaEmbed('#vv45', {% include 7X24X45.json %}).catch(console.error);
vegaEmbed('#vv46', {% include 7X24X46.json %}).catch(console.error);
vegaEmbed('#vv47', {% include 7X24X47.json %}).catch(console.error);
vegaEmbed('#vv48', {% include 7X24X100.json %}).catch(console.error);</script>
</body>
</html>
