{% include map.html %}

{% include city_switch.html %}

<section hidden>
<!-- Tab links -->
<div class="tab">
  <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'Budapest')">Budapest</button>
  <button class="tablinks" onclick="openCity(event, 'Baranya')">Baranya</button>
  <button class="tablinks" onclick="openCity(event, 'Bacs')">Bács-Kiskun</button>
  <button class="tablinks" onclick="openCity(event, 'Bekes')">Békés</button>
  <button class="tablinks" onclick="openCity(event, 'Borsod')">Borsod-Abaúj-Zemplén</button>
  <button class="tablinks" onclick="openCity(event, 'Csongrad')">Csongrád-Csanád</button>
  <button class="tablinks" onclick="openCity(event, 'Fejer')">Fejér</button>
  <button class="tablinks" onclick="openCity(event, 'Gyor')">Győr-Moson-Sopron</button>
  <button class="tablinks" onclick="openCity(event, 'Hajdu')">Hajdú-Bihar</button>
  <button class="tablinks" onclick="openCity(event, 'Heves')">Heves</button>
  <button class="tablinks" onclick="openCity(event, 'Jasz')">Jász-Nagykun-Szolnok</button>
  <button class="tablinks" onclick="openCity(event, 'Komarom')">Komárom-Esztergom</button>
  <button class="tablinks" onclick="openCity(event, 'Nograd')">Nógrád</button>
  <button class="tablinks" onclick="openCity(event, 'Pest')">Pest</button>
  <button class="tablinks" onclick="openCity(event, 'Somogy')">Somogy</button>
  <button class="tablinks" onclick="openCity(event, 'Szabolcs')">Szabolcs-Szatmár-Bereg</button>
  <button class="tablinks" onclick="openCity(event, 'Tolna')">Tolna</button>
  <button class="tablinks" onclick="openCity(event, 'Vas')">Vas</button>
  <button class="tablinks" onclick="openCity(event, 'Veszprem')">Veszprém</button>
  <button class="tablinks" onclick="openCity(event, 'Zala')">Zala</button>
</div>
</section>

<!-- Tab content -->
<div id="Budapest" class="tabcontent">
  <h3>Budapest</h3>
  <p>Adatok.</p>
</div>

<div id="Baranya" class="tabcontent">
  <h3>Baranya</h3>
  <p>Adatok.</p>
</div>

<div id="Bacs" class="tabcontent">
  <h3>Bács-Kiskun</h3>
  <p>Adatok.</p>
</div>

<div id="Vas" class="tabcontent">
  <h3>Vas</h3>
  <p>Adatok.</p>
</div>

<div id="Zala" class="tabcontent">
  <h3>Zala</h3>
  <p>Adatok.</p>
</div>

<div id="Veszprem" class="tabcontent">
  <h3>Veszprém</h3>
  <p>Adatok.</p>
</div>

<div id="Gyor" class="tabcontent">
  <h3>Győr-Moson-Sopron</h3>
  <p>Adatok.</p>
</div>

<div id="Komarom" class="tabcontent">
  <h3>Komárom-Esztergom</h3>
  <p>Adatok.</p>
</div>

<div id="Pest" class="tabcontent">
  <h3>Pest</h3>
  <p>Adatok.</p>
</div>

<div id="Fejer" class="tabcontent">
  <h3>Fejér</h3>
  <p>Adatok.</p>
</div>

<div id="Somogy" class="tabcontent">
  <h3>Somogy</h3>
  <p>Adatok.</p>
</div>

<div id="Tolna" class="tabcontent">
  <h3>Tolna</h3>
  <p>Adatok.</p>
</div>

<div id="Nograd" class="tabcontent">
  <h3>Nógrád</h3>
  <p>Adatok.</p>
</div>

<div id="Heves" class="tabcontent">
  <h3>Heves</h3>
  <p>Adatok.</p>
</div>

<div id="Bekes" class="tabcontent">
  <h3>Békés</h3>
  <p>Adatok.</p>
</div>

<div id="Jasz" class="tabcontent">
  <h3>Jász-Nagykun-Szolnok</h3>
  <p>Adatok.</p>
</div>

<div id="Csongrad" class="tabcontent">
  <h3>Csongrád-Csanád</h3>
  <p>Adatok.</p>
</div>

<div id="Hajdu" class="tabcontent">
  <h3>Hajdú-Bihar</h3>
  <p>Adatok.</p>
</div>

<div id="Szabolcs" class="tabcontent">
  <h3>Szabolcs-Szatmár-Bereg</h3>
  <p>Adatok.</p>
</div>

<div id="Borsod" class="tabcontent">
  <h3>Borsod-Abaúj-Zemplén</h3>
  <p>Adatok.</p>
</div>

{% include initial_tab.html %}
