<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

<div style="text-align:center">

<div id="vv1"></div>
<div id="vv2"></div>
<div id="vv3"></div>
<div id="vv4"></div>
<div id="vv5"></div>
<div id="vv6"></div>
<div id="vv7"></div>
<div id="vv8"></div>
<div id="vv9"></div>
<div id="vv10"></div>
<div id="vv11"></div>
<div id="vv12"></div>
<div id="vv13"></div>
<div id="vv14"></div>
<div id="vv15"></div>
<div id="vv16"></div>
<div id="vv17"></div>
<div id="vv18"></div>
<div id="vv19"></div>
<div id="vv20"></div>
<div id="vv21"></div>
<div id="vv22"></div>
<div id="vv23"></div>
<div id="vv24"></div>
<div id="vv25"></div>
<div id="vv26"></div>
<div id="vv27"></div>
</div>
<script type="text/javascript">

vegaEmbed('#vv1', {% include 14X47X1.json %}).catch(console.error);
vegaEmbed('#vv2', {% include 14X47X2.json %}).catch(console.error);
vegaEmbed('#vv3', {% include 14X47X3.json %}).catch(console.error);
vegaEmbed('#vv4', {% include 14X47X4.json %}).catch(console.error);
vegaEmbed('#vv5', {% include 14X47X5.json %}).catch(console.error);
vegaEmbed('#vv6', {% include 14X47X6.json %}).catch(console.error);
vegaEmbed('#vv7', {% include 14X47X7.json %}).catch(console.error);
vegaEmbed('#vv8', {% include 14X47X8.json %}).catch(console.error);
vegaEmbed('#vv9', {% include 14X47X9.json %}).catch(console.error);
vegaEmbed('#vv10', {% include 14X47X10.json %}).catch(console.error);
vegaEmbed('#vv11', {% include 14X47X11.json %}).catch(console.error);
vegaEmbed('#vv12', {% include 14X47X12.json %}).catch(console.error);
vegaEmbed('#vv13', {% include 14X47X13.json %}).catch(console.error);
vegaEmbed('#vv14', {% include 14X47X14.json %}).catch(console.error);
vegaEmbed('#vv15', {% include 14X47X15.json %}).catch(console.error);
vegaEmbed('#vv16', {% include 14X47X16.json %}).catch(console.error);
vegaEmbed('#vv17', {% include 14X47X17.json %}).catch(console.error);
vegaEmbed('#vv18', {% include 14X47X18.json %}).catch(console.error);
vegaEmbed('#vv19', {% include 14X47X19.json %}).catch(console.error);
vegaEmbed('#vv20', {% include 14X47X20.json %}).catch(console.error);
vegaEmbed('#vv21', {% include 14X47X21.json %}).catch(console.error);
vegaEmbed('#vv22', {% include 14X47X22.json %}).catch(console.error);
vegaEmbed('#vv23', {% include 14X47X23.json %}).catch(console.error);
vegaEmbed('#vv24', {% include 14X47X24.json %}).catch(console.error);
vegaEmbed('#vv25', {% include 14X47X25.json %}).catch(console.error);
vegaEmbed('#vv26', {% include 14X47X26.json %}).catch(console.error);
vegaEmbed('#vv27', {% include 14X47X27.json %}).catch(console.error);</script>
</body>
</html>
