<section hidden>
<!-- Tab links -->
<div class="tab">
  <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'Budapest')">Budapest</button>
  <button class="tablinks" onclick="openCity(event, 'Baranya')">Baranya</button>
  <button class="tablinks" onclick="openCity(event, 'Bacs')">Bács-Kiskun</button>
  <button class="tablinks" onclick="openCity(event, 'Bekes')">Békés</button>
  <button class="tablinks" onclick="openCity(event, 'Borsod')">Borsod-Abaúj-Zemplén</button>
  <button class="tablinks" onclick="openCity(event, 'Csongrad')">Csongrád-Csanád</button>
  <button class="tablinks" onclick="openCity(event, 'Fejer')">Fejér</button>
  <button class="tablinks" onclick="openCity(event, 'Gyor')">Győr-Moson-Sopron</button>
  <button class="tablinks" onclick="openCity(event, 'Hajdu')">Hajdú-Bihar</button>
  <button class="tablinks" onclick="openCity(event, 'Heves')">Heves</button>
  <button class="tablinks" onclick="openCity(event, 'Jasz')">Jász-Nagykun-Szolnok</button>
  <button class="tablinks" onclick="openCity(event, 'Komarom')">Komárom-Esztergom</button>
  <button class="tablinks" onclick="openCity(event, 'Nograd')">Nógrád</button>
  <button class="tablinks" onclick="openCity(event, 'Pest')">Pest</button>
  <button class="tablinks" onclick="openCity(event, 'Somogy')">Somogy</button>
  <button class="tablinks" onclick="openCity(event, 'Szabolcs')">Szabolcs-Szatmár-Bereg</button>
  <button class="tablinks" onclick="openCity(event, 'Tolna')">Tolna</button>
  <button class="tablinks" onclick="openCity(event, 'Vas')">Vas</button>
  <button class="tablinks" onclick="openCity(event, 'Veszprem')">Veszprém</button>
  <button class="tablinks" onclick="openCity(event, 'Zala')">Zala</button>
</div>
</section>
