<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

<div style="text-align:center">

<div id="vv1"></div>
<div id="vv2"></div>
<div id="vv3"></div>
<div id="vv4"></div>
<div id="vv5"></div>
<div id="vv6"></div>
<div id="vv7"></div>
<div id="vv8"></div>
<div id="vv9"></div>
<div id="vv10"></div>
<div id="vv11"></div>
<div id="vv12"></div>
<div id="vv13"></div>
<div id="vv14"></div>
<div id="vv15"></div>
<div id="vv16"></div>
<div id="vv17"></div>
<div id="vv18"></div>
<div id="vv19"></div>
<div id="vv20"></div>
<div id="vv21"></div>
<div id="vv22"></div>
<div id="vv23"></div>
<div id="vv24"></div>
<div id="vv25"></div>
<div id="vv26"></div>
<div id="vv27"></div>
<div id="vv28"></div>
<div id="vv29"></div>
<div id="vv30"></div>
<div id="vv31"></div>
<div id="vv32"></div>
<div id="vv33"></div>
<div id="vv34"></div>
<div id="vv35"></div>
<div id="vv36"></div>
<div id="vv37"></div>
<div id="vv38"></div>
<div id="vv39"></div>
<div id="vv40"></div>
<div id="vv41"></div>
<div id="vv42"></div>
<div id="vv43"></div>
<div id="vv44"></div>
<div id="vv45"></div>
<div id="vv46"></div>
<div id="vv47"></div>
<div id="vv48"></div>
<div id="vv49"></div>
<div id="vv50"></div>
<div id="vv51"></div>
<div id="vv52"></div>
<div id="vv53"></div>
<div id="vv54"></div>
<div id="vv55"></div>
<div id="vv56"></div>
<div id="vv57"></div>
<div id="vv58"></div>
<div id="vv59"></div>
<div id="vv60"></div>
<div id="vv61"></div>
<div id="vv62"></div>
<div id="vv63"></div>
<div id="vv64"></div>
<div id="vv65"></div>
<div id="vv66"></div>
<div id="vv67"></div>
<div id="vv68"></div>
<div id="vv69"></div>
<div id="vv70"></div>
<div id="vv71"></div>
<div id="vv72"></div>
<div id="vv73"></div>
<div id="vv74"></div>
<div id="vv75"></div>
<div id="vv76"></div>
<div id="vv77"></div>
<div id="vv78"></div>
<div id="vv79"></div>
<div id="vv80"></div>
<div id="vv81"></div>
<div id="vv82"></div>
<div id="vv83"></div>
<div id="vv84"></div>
<div id="vv85"></div>
<div id="vv86"></div>
<div id="vv87"></div>
<div id="vv88"></div>
<div id="vv89"></div>
<div id="vv90"></div>
<div id="vv91"></div>
<div id="vv92"></div>
<div id="vv93"></div>
<div id="vv94"></div>
<div id="vv95"></div>
<div id="vv96"></div>
<div id="vv97"></div>
<div id="vv98"></div>
<div id="vv99"></div>
</div>
<script type="text/javascript">

vegaEmbed('#vv1', {% include 3X60X1.json %}).catch(console.error);
vegaEmbed('#vv2', {% include 3X60X2.json %}).catch(console.error);
vegaEmbed('#vv3', {% include 3X60X3.json %}).catch(console.error);
vegaEmbed('#vv4', {% include 3X60X4.json %}).catch(console.error);
vegaEmbed('#vv5', {% include 3X60X5.json %}).catch(console.error);
vegaEmbed('#vv6', {% include 3X60X6.json %}).catch(console.error);
vegaEmbed('#vv7', {% include 3X60X7.json %}).catch(console.error);
vegaEmbed('#vv8', {% include 3X60X8.json %}).catch(console.error);
vegaEmbed('#vv9', {% include 3X60X9.json %}).catch(console.error);
vegaEmbed('#vv10', {% include 3X60X10.json %}).catch(console.error);
vegaEmbed('#vv11', {% include 3X60X11.json %}).catch(console.error);
vegaEmbed('#vv12', {% include 3X60X12.json %}).catch(console.error);
vegaEmbed('#vv13', {% include 3X60X13.json %}).catch(console.error);
vegaEmbed('#vv14', {% include 3X60X14.json %}).catch(console.error);
vegaEmbed('#vv15', {% include 3X60X15.json %}).catch(console.error);
vegaEmbed('#vv16', {% include 3X60X16.json %}).catch(console.error);
vegaEmbed('#vv17', {% include 3X60X17.json %}).catch(console.error);
vegaEmbed('#vv18', {% include 3X60X18.json %}).catch(console.error);
vegaEmbed('#vv19', {% include 3X60X19.json %}).catch(console.error);
vegaEmbed('#vv20', {% include 3X60X20.json %}).catch(console.error);
vegaEmbed('#vv21', {% include 3X60X21.json %}).catch(console.error);
vegaEmbed('#vv22', {% include 3X60X22.json %}).catch(console.error);
vegaEmbed('#vv23', {% include 3X60X23.json %}).catch(console.error);
vegaEmbed('#vv24', {% include 3X60X24.json %}).catch(console.error);
vegaEmbed('#vv25', {% include 3X60X25.json %}).catch(console.error);
vegaEmbed('#vv26', {% include 3X60X26.json %}).catch(console.error);
vegaEmbed('#vv27', {% include 3X60X27.json %}).catch(console.error);
vegaEmbed('#vv28', {% include 3X60X28.json %}).catch(console.error);
vegaEmbed('#vv29', {% include 3X60X29.json %}).catch(console.error);
vegaEmbed('#vv30', {% include 3X60X30.json %}).catch(console.error);
vegaEmbed('#vv31', {% include 3X60X31.json %}).catch(console.error);
vegaEmbed('#vv32', {% include 3X60X32.json %}).catch(console.error);
vegaEmbed('#vv33', {% include 3X60X33.json %}).catch(console.error);
vegaEmbed('#vv34', {% include 3X60X34.json %}).catch(console.error);
vegaEmbed('#vv35', {% include 3X60X35.json %}).catch(console.error);
vegaEmbed('#vv36', {% include 3X60X36.json %}).catch(console.error);
vegaEmbed('#vv37', {% include 3X60X37.json %}).catch(console.error);
vegaEmbed('#vv38', {% include 3X60X38.json %}).catch(console.error);
vegaEmbed('#vv39', {% include 3X60X39.json %}).catch(console.error);
vegaEmbed('#vv40', {% include 3X60X40.json %}).catch(console.error);
vegaEmbed('#vv41', {% include 3X60X41.json %}).catch(console.error);
vegaEmbed('#vv42', {% include 3X60X42.json %}).catch(console.error);
vegaEmbed('#vv43', {% include 3X60X43.json %}).catch(console.error);
vegaEmbed('#vv44', {% include 3X60X44.json %}).catch(console.error);
vegaEmbed('#vv45', {% include 3X60X45.json %}).catch(console.error);
vegaEmbed('#vv46', {% include 3X60X46.json %}).catch(console.error);
vegaEmbed('#vv47', {% include 3X60X47.json %}).catch(console.error);
vegaEmbed('#vv48', {% include 3X60X48.json %}).catch(console.error);
vegaEmbed('#vv49', {% include 3X60X49.json %}).catch(console.error);
vegaEmbed('#vv50', {% include 3X60X50.json %}).catch(console.error);
vegaEmbed('#vv51', {% include 3X60X51.json %}).catch(console.error);
vegaEmbed('#vv52', {% include 3X60X52.json %}).catch(console.error);
vegaEmbed('#vv53', {% include 3X60X53.json %}).catch(console.error);
vegaEmbed('#vv54', {% include 3X60X54.json %}).catch(console.error);
vegaEmbed('#vv55', {% include 3X60X55.json %}).catch(console.error);
vegaEmbed('#vv56', {% include 3X60X56.json %}).catch(console.error);
vegaEmbed('#vv57', {% include 3X60X57.json %}).catch(console.error);
vegaEmbed('#vv58', {% include 3X60X58.json %}).catch(console.error);
vegaEmbed('#vv59', {% include 3X60X59.json %}).catch(console.error);
vegaEmbed('#vv60', {% include 3X60X60.json %}).catch(console.error);
vegaEmbed('#vv61', {% include 3X60X61.json %}).catch(console.error);
vegaEmbed('#vv62', {% include 3X60X62.json %}).catch(console.error);
vegaEmbed('#vv63', {% include 3X60X63.json %}).catch(console.error);
vegaEmbed('#vv64', {% include 3X60X64.json %}).catch(console.error);
vegaEmbed('#vv65', {% include 3X60X65.json %}).catch(console.error);
vegaEmbed('#vv66', {% include 3X60X66.json %}).catch(console.error);
vegaEmbed('#vv67', {% include 3X60X67.json %}).catch(console.error);
vegaEmbed('#vv68', {% include 3X60X68.json %}).catch(console.error);
vegaEmbed('#vv69', {% include 3X60X69.json %}).catch(console.error);
vegaEmbed('#vv70', {% include 3X60X70.json %}).catch(console.error);
vegaEmbed('#vv71', {% include 3X60X71.json %}).catch(console.error);
vegaEmbed('#vv72', {% include 3X60X72.json %}).catch(console.error);
vegaEmbed('#vv73', {% include 3X60X73.json %}).catch(console.error);
vegaEmbed('#vv74', {% include 3X60X74.json %}).catch(console.error);
vegaEmbed('#vv75', {% include 3X60X75.json %}).catch(console.error);
vegaEmbed('#vv76', {% include 3X60X76.json %}).catch(console.error);
vegaEmbed('#vv77', {% include 3X60X77.json %}).catch(console.error);
vegaEmbed('#vv78', {% include 3X60X78.json %}).catch(console.error);
vegaEmbed('#vv79', {% include 3X60X79.json %}).catch(console.error);
vegaEmbed('#vv80', {% include 3X60X80.json %}).catch(console.error);
vegaEmbed('#vv81', {% include 3X60X81.json %}).catch(console.error);
vegaEmbed('#vv82', {% include 3X60X82.json %}).catch(console.error);
vegaEmbed('#vv83', {% include 3X60X83.json %}).catch(console.error);
vegaEmbed('#vv84', {% include 3X60X84.json %}).catch(console.error);
vegaEmbed('#vv85', {% include 3X60X85.json %}).catch(console.error);
vegaEmbed('#vv86', {% include 3X60X86.json %}).catch(console.error);
vegaEmbed('#vv87', {% include 3X60X87.json %}).catch(console.error);
vegaEmbed('#vv88', {% include 3X60X88.json %}).catch(console.error);
vegaEmbed('#vv89', {% include 3X60X89.json %}).catch(console.error);
vegaEmbed('#vv90', {% include 3X60X90.json %}).catch(console.error);
vegaEmbed('#vv91', {% include 3X60X91.json %}).catch(console.error);
vegaEmbed('#vv92', {% include 3X60X92.json %}).catch(console.error);
vegaEmbed('#vv93', {% include 3X60X93.json %}).catch(console.error);
vegaEmbed('#vv94', {% include 3X60X94.json %}).catch(console.error);
vegaEmbed('#vv95', {% include 3X60X95.json %}).catch(console.error);
vegaEmbed('#vv96', {% include 3X60X96.json %}).catch(console.error);
vegaEmbed('#vv97', {% include 3X60X97.json %}).catch(console.error);
vegaEmbed('#vv98', {% include 3X60X98.json %}).catch(console.error);
vegaEmbed('#vv99', {% include 3X60X99.json %}).catch(console.error);</script>
</body>
</html>
