<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

<div style="text-align:center">

<div id="vv1"></div>
<div id="vv2"></div>
</div>
<script type="text/javascript">

vegaEmbed('#vv1', {% include SZKfigures/5X199X1.json %}).catch(console.error);
vegaEmbed('#vv2', {% include SZKfigures/5X199X2.json %}).catch(console.error);</script>
</body>
</html>
