  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>


<h2> Összesített adatok </h2>

<div id="vis1"></div>
<div id="vis2"></div>
<div id="vis3"></div>
<div id="vis4"></div>
<div id="vis5"></div>

<h2> Regisztrált nemzetiségi szavazók </h2>

<div id="vis6"></div>
<div id="vis7"></div>
<div id="vis8"></div>
<div id="vis9"></div>
<div id="vis10"></div>
<div id="vis11"></div>
<div id="vis12"></div>
<div id="vis13"></div>
<div id="vis14"></div>
<div id="vis15"></div>
<div id="vis16"></div>
<div id="vis17"></div>
<div id="vis18"></div>

<script type="text/javascript">
  vegaEmbed('#vis1', {% include Magyarorszagilakcimmelrendelkezik.json %}).catch(console.error);
  vegaEmbed('#vis2', {% include Lakcimeszerintiszavazokorbenszavaz.json %}).catch(console.error);
  vegaEmbed('#vis3', {% include Levelbenszavaz.json %}).catch(console.error);
  vegaEmbed('#vis4', {% include Partlistaraszavaz.json %}).catch(console.error);
  vegaEmbed('#vis5', {% include Nemzetisegilistaraszavaz.json %}).catch(console.error);
vegaEmbed('#vis6', {% include bolgar.json %}).catch(console.error);
vegaEmbed('#vis7', {% include gorog.json %}).catch(console.error);
vegaEmbed('#vis8', {% include horvat.json %}).catch(console.error);
vegaEmbed('#vis9', {% include lengyel.json %}).catch(console.error);
vegaEmbed('#vis10', {% include nemet.json %}).catch(console.error);
vegaEmbed('#vis11', {% include ormeny.json %}).catch(console.error);
vegaEmbed('#vis12', {% include roma.json %}).catch(console.error);
vegaEmbed('#vis13', {% include roman.json %}).catch(console.error);
vegaEmbed('#vis14', {% include ruszin.json %}).catch(console.error);
vegaEmbed('#vis15', {% include szerb.json %}).catch(console.error);
vegaEmbed('#vis16', {% include szlovak.json %}).catch(console.error);
vegaEmbed('#vis17', {% include szloven.json %}).catch(console.error);
vegaEmbed('#vis18', {% include ukran.json %}).catch(console.error);
</script>
