<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

<div style="text-align:center">

<div id="vv1"></div>
<div id="vv2"></div>
<div id="vv3"></div>
<div id="vv4"></div>
<div id="vv5"></div>
<div id="vv6"></div>
<div id="vv7"></div>
<div id="vv8"></div>
<div id="vv9"></div>
</div>
<script type="text/javascript">

vegaEmbed('#vv1', {% include SZKfigures/13X97X1.json %}).catch(console.error);
vegaEmbed('#vv2', {% include SZKfigures/13X97X2.json %}).catch(console.error);
vegaEmbed('#vv3', {% include SZKfigures/13X97X3.json %}).catch(console.error);
vegaEmbed('#vv4', {% include SZKfigures/13X97X4.json %}).catch(console.error);
vegaEmbed('#vv5', {% include SZKfigures/13X97X5.json %}).catch(console.error);
vegaEmbed('#vv6', {% include SZKfigures/13X97X6.json %}).catch(console.error);
vegaEmbed('#vv7', {% include SZKfigures/13X97X7.json %}).catch(console.error);
vegaEmbed('#vv8', {% include SZKfigures/13X97X8.json %}).catch(console.error);
vegaEmbed('#vv9', {% include SZKfigures/13X97X9.json %}).catch(console.error);</script>
</body>
</html>
