<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

<div style="text-align:center">

<div id="vv1"></div>
<div id="vv2"></div>
<div id="vv3"></div>
<div id="vv4"></div>
<div id="vv5"></div>
<div id="vv6"></div>
<div id="vv7"></div>
<div id="vv8"></div>
<div id="vv9"></div>
<div id="vv10"></div>
<div id="vv11"></div>
<div id="vv12"></div>
<div id="vv13"></div>
<div id="vv14"></div>
<div id="vv15"></div>
<div id="vv16"></div>
<div id="vv17"></div>
<div id="vv18"></div>
<div id="vv19"></div>
<div id="vv20"></div>
<div id="vv21"></div>
<div id="vv22"></div>
<div id="vv23"></div>
<div id="vv24"></div>
<div id="vv25"></div>
<div id="vv26"></div>
<div id="vv27"></div>
<div id="vv28"></div>
<div id="vv29"></div>
<div id="vv30"></div>
<div id="vv31"></div>
<div id="vv32"></div>
<div id="vv33"></div>
<div id="vv34"></div>
<div id="vv35"></div>
<div id="vv36"></div>
<div id="vv37"></div>
<div id="vv38"></div>
<div id="vv39"></div>
<div id="vv40"></div>
<div id="vv41"></div>
<div id="vv42"></div>
<div id="vv43"></div>
<div id="vv44"></div>
<div id="vv45"></div>
<div id="vv46"></div>
<div id="vv47"></div>
<div id="vv48"></div>
<div id="vv49"></div>
<div id="vv50"></div>
<div id="vv51"></div>
<div id="vv52"></div>
<div id="vv53"></div>
<div id="vv54"></div>
<div id="vv55"></div>
<div id="vv56"></div>
<div id="vv57"></div>
<div id="vv58"></div>
<div id="vv59"></div>
<div id="vv60"></div>
<div id="vv61"></div>
<div id="vv62"></div>
<div id="vv63"></div>
<div id="vv64"></div>
<div id="vv65"></div>
<div id="vv66"></div>
<div id="vv67"></div>
<div id="vv68"></div>
<div id="vv69"></div>
<div id="vv70"></div>
<div id="vv71"></div>
<div id="vv72"></div>
<div id="vv73"></div>
<div id="vv74"></div>
<div id="vv75"></div>
<div id="vv76"></div>
<div id="vv77"></div>
<div id="vv78"></div>
<div id="vv79"></div>
<div id="vv80"></div>
<div id="vv81"></div>
<div id="vv82"></div>
<div id="vv83"></div>
<div id="vv84"></div>
<div id="vv85"></div>
<div id="vv86"></div>
<div id="vv87"></div>
<div id="vv88"></div>
<div id="vv89"></div>
<div id="vv90"></div>
<div id="vv91"></div>
<div id="vv92"></div>
<div id="vv93"></div>
<div id="vv94"></div>
<div id="vv95"></div>
<div id="vv96"></div>
<div id="vv97"></div>
<div id="vv98"></div>
<div id="vv99"></div>
<div id="vv100"></div>
<div id="vv101"></div>
<div id="vv102"></div>
<div id="vv103"></div>
<div id="vv104"></div>
<div id="vv105"></div>
<div id="vv106"></div>
<div id="vv107"></div>
<div id="vv108"></div>
<div id="vv109"></div>
<div id="vv110"></div>
<div id="vv111"></div>
<div id="vv112"></div>
<div id="vv113"></div>
<div id="vv114"></div>
<div id="vv115"></div>
<div id="vv116"></div>
<div id="vv117"></div>
<div id="vv118"></div>
<div id="vv119"></div>
<div id="vv120"></div>
<div id="vv121"></div>
<div id="vv122"></div>
<div id="vv123"></div>
<div id="vv124"></div>
<div id="vv125"></div>
<div id="vv126"></div>
<div id="vv127"></div>
<div id="vv128"></div>
<div id="vv129"></div>
<div id="vv130"></div>
<div id="vv131"></div>
<div id="vv132"></div>
<div id="vv133"></div>
<div id="vv134"></div>
</div>
<script type="text/javascript">

vegaEmbed('#vv1', {% include 2X217X1.json %}).catch(console.error);
vegaEmbed('#vv2', {% include 2X217X2.json %}).catch(console.error);
vegaEmbed('#vv3', {% include 2X217X3.json %}).catch(console.error);
vegaEmbed('#vv4', {% include 2X217X4.json %}).catch(console.error);
vegaEmbed('#vv5', {% include 2X217X5.json %}).catch(console.error);
vegaEmbed('#vv6', {% include 2X217X6.json %}).catch(console.error);
vegaEmbed('#vv7', {% include 2X217X7.json %}).catch(console.error);
vegaEmbed('#vv8', {% include 2X217X8.json %}).catch(console.error);
vegaEmbed('#vv9', {% include 2X217X9.json %}).catch(console.error);
vegaEmbed('#vv10', {% include 2X217X10.json %}).catch(console.error);
vegaEmbed('#vv11', {% include 2X217X11.json %}).catch(console.error);
vegaEmbed('#vv12', {% include 2X217X12.json %}).catch(console.error);
vegaEmbed('#vv13', {% include 2X217X13.json %}).catch(console.error);
vegaEmbed('#vv14', {% include 2X217X14.json %}).catch(console.error);
vegaEmbed('#vv15', {% include 2X217X15.json %}).catch(console.error);
vegaEmbed('#vv16', {% include 2X217X16.json %}).catch(console.error);
vegaEmbed('#vv17', {% include 2X217X17.json %}).catch(console.error);
vegaEmbed('#vv18', {% include 2X217X18.json %}).catch(console.error);
vegaEmbed('#vv19', {% include 2X217X19.json %}).catch(console.error);
vegaEmbed('#vv20', {% include 2X217X20.json %}).catch(console.error);
vegaEmbed('#vv21', {% include 2X217X21.json %}).catch(console.error);
vegaEmbed('#vv22', {% include 2X217X22.json %}).catch(console.error);
vegaEmbed('#vv23', {% include 2X217X23.json %}).catch(console.error);
vegaEmbed('#vv24', {% include 2X217X24.json %}).catch(console.error);
vegaEmbed('#vv25', {% include 2X217X25.json %}).catch(console.error);
vegaEmbed('#vv26', {% include 2X217X26.json %}).catch(console.error);
vegaEmbed('#vv27', {% include 2X217X27.json %}).catch(console.error);
vegaEmbed('#vv28', {% include 2X217X28.json %}).catch(console.error);
vegaEmbed('#vv29', {% include 2X217X29.json %}).catch(console.error);
vegaEmbed('#vv30', {% include 2X217X30.json %}).catch(console.error);
vegaEmbed('#vv31', {% include 2X217X31.json %}).catch(console.error);
vegaEmbed('#vv32', {% include 2X217X32.json %}).catch(console.error);
vegaEmbed('#vv33', {% include 2X217X33.json %}).catch(console.error);
vegaEmbed('#vv34', {% include 2X217X34.json %}).catch(console.error);
vegaEmbed('#vv35', {% include 2X217X35.json %}).catch(console.error);
vegaEmbed('#vv36', {% include 2X217X36.json %}).catch(console.error);
vegaEmbed('#vv37', {% include 2X217X37.json %}).catch(console.error);
vegaEmbed('#vv38', {% include 2X217X38.json %}).catch(console.error);
vegaEmbed('#vv39', {% include 2X217X39.json %}).catch(console.error);
vegaEmbed('#vv40', {% include 2X217X40.json %}).catch(console.error);
vegaEmbed('#vv41', {% include 2X217X41.json %}).catch(console.error);
vegaEmbed('#vv42', {% include 2X217X42.json %}).catch(console.error);
vegaEmbed('#vv43', {% include 2X217X43.json %}).catch(console.error);
vegaEmbed('#vv44', {% include 2X217X44.json %}).catch(console.error);
vegaEmbed('#vv45', {% include 2X217X45.json %}).catch(console.error);
vegaEmbed('#vv46', {% include 2X217X46.json %}).catch(console.error);
vegaEmbed('#vv47', {% include 2X217X47.json %}).catch(console.error);
vegaEmbed('#vv48', {% include 2X217X48.json %}).catch(console.error);
vegaEmbed('#vv49', {% include 2X217X49.json %}).catch(console.error);
vegaEmbed('#vv50', {% include 2X217X50.json %}).catch(console.error);
vegaEmbed('#vv51', {% include 2X217X51.json %}).catch(console.error);
vegaEmbed('#vv52', {% include 2X217X52.json %}).catch(console.error);
vegaEmbed('#vv53', {% include 2X217X53.json %}).catch(console.error);
vegaEmbed('#vv54', {% include 2X217X54.json %}).catch(console.error);
vegaEmbed('#vv55', {% include 2X217X55.json %}).catch(console.error);
vegaEmbed('#vv56', {% include 2X217X56.json %}).catch(console.error);
vegaEmbed('#vv57', {% include 2X217X57.json %}).catch(console.error);
vegaEmbed('#vv58', {% include 2X217X58.json %}).catch(console.error);
vegaEmbed('#vv59', {% include 2X217X59.json %}).catch(console.error);
vegaEmbed('#vv60', {% include 2X217X60.json %}).catch(console.error);
vegaEmbed('#vv61', {% include 2X217X61.json %}).catch(console.error);
vegaEmbed('#vv62', {% include 2X217X62.json %}).catch(console.error);
vegaEmbed('#vv63', {% include 2X217X63.json %}).catch(console.error);
vegaEmbed('#vv64', {% include 2X217X64.json %}).catch(console.error);
vegaEmbed('#vv65', {% include 2X217X65.json %}).catch(console.error);
vegaEmbed('#vv66', {% include 2X217X66.json %}).catch(console.error);
vegaEmbed('#vv67', {% include 2X217X67.json %}).catch(console.error);
vegaEmbed('#vv68', {% include 2X217X68.json %}).catch(console.error);
vegaEmbed('#vv69', {% include 2X217X69.json %}).catch(console.error);
vegaEmbed('#vv70', {% include 2X217X70.json %}).catch(console.error);
vegaEmbed('#vv71', {% include 2X217X71.json %}).catch(console.error);
vegaEmbed('#vv72', {% include 2X217X72.json %}).catch(console.error);
vegaEmbed('#vv73', {% include 2X217X73.json %}).catch(console.error);
vegaEmbed('#vv74', {% include 2X217X74.json %}).catch(console.error);
vegaEmbed('#vv75', {% include 2X217X75.json %}).catch(console.error);
vegaEmbed('#vv76', {% include 2X217X76.json %}).catch(console.error);
vegaEmbed('#vv77', {% include 2X217X77.json %}).catch(console.error);
vegaEmbed('#vv78', {% include 2X217X78.json %}).catch(console.error);
vegaEmbed('#vv79', {% include 2X217X79.json %}).catch(console.error);
vegaEmbed('#vv80', {% include 2X217X80.json %}).catch(console.error);
vegaEmbed('#vv81', {% include 2X217X81.json %}).catch(console.error);
vegaEmbed('#vv82', {% include 2X217X82.json %}).catch(console.error);
vegaEmbed('#vv83', {% include 2X217X83.json %}).catch(console.error);
vegaEmbed('#vv84', {% include 2X217X84.json %}).catch(console.error);
vegaEmbed('#vv85', {% include 2X217X85.json %}).catch(console.error);
vegaEmbed('#vv86', {% include 2X217X86.json %}).catch(console.error);
vegaEmbed('#vv87', {% include 2X217X87.json %}).catch(console.error);
vegaEmbed('#vv88', {% include 2X217X88.json %}).catch(console.error);
vegaEmbed('#vv89', {% include 2X217X89.json %}).catch(console.error);
vegaEmbed('#vv90', {% include 2X217X90.json %}).catch(console.error);
vegaEmbed('#vv91', {% include 2X217X91.json %}).catch(console.error);
vegaEmbed('#vv92', {% include 2X217X92.json %}).catch(console.error);
vegaEmbed('#vv93', {% include 2X217X93.json %}).catch(console.error);
vegaEmbed('#vv94', {% include 2X217X94.json %}).catch(console.error);
vegaEmbed('#vv95', {% include 2X217X95.json %}).catch(console.error);
vegaEmbed('#vv96', {% include 2X217X96.json %}).catch(console.error);
vegaEmbed('#vv97', {% include 2X217X97.json %}).catch(console.error);
vegaEmbed('#vv98', {% include 2X217X98.json %}).catch(console.error);
vegaEmbed('#vv99', {% include 2X217X99.json %}).catch(console.error);
vegaEmbed('#vv100', {% include 2X217X100.json %}).catch(console.error);
vegaEmbed('#vv101', {% include 2X217X101.json %}).catch(console.error);
vegaEmbed('#vv102', {% include 2X217X102.json %}).catch(console.error);
vegaEmbed('#vv103', {% include 2X217X103.json %}).catch(console.error);
vegaEmbed('#vv104', {% include 2X217X104.json %}).catch(console.error);
vegaEmbed('#vv105', {% include 2X217X105.json %}).catch(console.error);
vegaEmbed('#vv106', {% include 2X217X106.json %}).catch(console.error);
vegaEmbed('#vv107', {% include 2X217X107.json %}).catch(console.error);
vegaEmbed('#vv108', {% include 2X217X108.json %}).catch(console.error);
vegaEmbed('#vv109', {% include 2X217X109.json %}).catch(console.error);
vegaEmbed('#vv110', {% include 2X217X110.json %}).catch(console.error);
vegaEmbed('#vv111', {% include 2X217X111.json %}).catch(console.error);
vegaEmbed('#vv112', {% include 2X217X112.json %}).catch(console.error);
vegaEmbed('#vv113', {% include 2X217X113.json %}).catch(console.error);
vegaEmbed('#vv114', {% include 2X217X114.json %}).catch(console.error);
vegaEmbed('#vv115', {% include 2X217X115.json %}).catch(console.error);
vegaEmbed('#vv116', {% include 2X217X116.json %}).catch(console.error);
vegaEmbed('#vv117', {% include 2X217X117.json %}).catch(console.error);
vegaEmbed('#vv118', {% include 2X217X118.json %}).catch(console.error);
vegaEmbed('#vv119', {% include 2X217X119.json %}).catch(console.error);
vegaEmbed('#vv120', {% include 2X217X120.json %}).catch(console.error);
vegaEmbed('#vv121', {% include 2X217X121.json %}).catch(console.error);
vegaEmbed('#vv122', {% include 2X217X122.json %}).catch(console.error);
vegaEmbed('#vv123', {% include 2X217X123.json %}).catch(console.error);
vegaEmbed('#vv124', {% include 2X217X124.json %}).catch(console.error);
vegaEmbed('#vv125', {% include 2X217X125.json %}).catch(console.error);
vegaEmbed('#vv126', {% include 2X217X126.json %}).catch(console.error);
vegaEmbed('#vv127', {% include 2X217X127.json %}).catch(console.error);
vegaEmbed('#vv128', {% include 2X217X128.json %}).catch(console.error);
vegaEmbed('#vv129', {% include 2X217X129.json %}).catch(console.error);
vegaEmbed('#vv130', {% include 2X217X130.json %}).catch(console.error);
vegaEmbed('#vv131', {% include 2X217X131.json %}).catch(console.error);
vegaEmbed('#vv132', {% include 2X217X132.json %}).catch(console.error);
vegaEmbed('#vv133', {% include 2X217X133.json %}).catch(console.error);
vegaEmbed('#vv134', {% include 2X217X134.json %}).catch(console.error);</script>
</body>
</html>
