<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

<div style="text-align:center">

<div id="vv1"></div>
<div id="vv2"></div>
<div id="vv3"></div>
</div>
<script type="text/javascript">

vegaEmbed('#vv1', {% include 2X231X1.json %}).catch(console.error);
vegaEmbed('#vv2', {% include 2X231X2.json %}).catch(console.error);
vegaEmbed('#vv3', {% include 2X231X3.json %}).catch(console.error);</script>
</body>
</html>
