<input list="europe-countries" placeholder="Start typing...">
<datalist id="europe-countries">
  <option>Russia</option>
  <option>Germany</option>
  <option>United Kingdom</option>
  <option>France</option>
  <option>Italy</option>
  <option>Spain</option>
  <option>Ukraine</option>
  <option>Poland</option>
  <option>Romania</option>
  <option>Netherlands</option>
  <option>Belgium</option>
  <option>Czech Republic</option>
  <option>Greece</option>
  <option>Portugal</option>
  <option>Sweden</option>
  <option>Hungary</option>
  <option>Belarus</option>
  <option>Austria</option>
  <option>Serbia</option>
  <option>Switzerland</option>
  <option>Bulgaria</option>
  <option>Denmark</option>
  <option>Finland</option>
  <option>Slovakia</option>
  <option>Norway</option>
  <option>Ireland</option>
  <option>Croatia</option>
  <option>Moldova</option>
  <option>Bosnia and Herzegovina</option>
  <option>Albania</option>
  <option>Lithuania</option>
  <option>North Macedonia</option>
  <option>Slovenia</option>
  <option>Latvia</option>
  <option>Estonia</option>
  <option>Montenegro</option>
  <option>Luxembourg</option>
  <option>Malta</option>
  <option>Iceland</option>
  <option>Andorra</option>
  <option>Monaco</option>
  <option>Liechtenstein</option>
  <option>San Marino</option>
  <option>Holy See</option>
</datalist>
