<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

<div style="text-align:center">

<div id="vv1"></div>
<div id="vv2"></div>
<div id="vv3"></div>
<div id="vv4"></div>
<div id="vv5"></div>
<div id="vv6"></div>
<div id="vv7"></div>
<div id="vv8"></div>
<div id="vv9"></div>
<div id="vv10"></div>
<div id="vv11"></div>
<div id="vv12"></div>
<div id="vv13"></div>
<div id="vv14"></div>
<div id="vv15"></div>
<div id="vv16"></div>
<div id="vv17"></div>
<div id="vv18"></div>
<div id="vv19"></div>
<div id="vv20"></div>
<div id="vv21"></div>
<div id="vv22"></div>
<div id="vv23"></div>
<div id="vv24"></div>
<div id="vv25"></div>
<div id="vv26"></div>
<div id="vv27"></div>
<div id="vv28"></div>
<div id="vv29"></div>
<div id="vv30"></div>
<div id="vv31"></div>
<div id="vv32"></div>
<div id="vv33"></div>
<div id="vv34"></div>
<div id="vv35"></div>
<div id="vv36"></div>
<div id="vv37"></div>
<div id="vv38"></div>
<div id="vv39"></div>
<div id="vv40"></div>
<div id="vv41"></div>
<div id="vv42"></div>
<div id="vv43"></div>
<div id="vv44"></div>
<div id="vv45"></div>
<div id="vv46"></div>
<div id="vv47"></div>
<div id="vv48"></div>
<div id="vv49"></div>
<div id="vv50"></div>
</div>
<script type="text/javascript">

vegaEmbed('#vv1', {% include 8X150X1.json %}).catch(console.error);
vegaEmbed('#vv2', {% include 8X150X2.json %}).catch(console.error);
vegaEmbed('#vv3', {% include 8X150X3.json %}).catch(console.error);
vegaEmbed('#vv4', {% include 8X150X4.json %}).catch(console.error);
vegaEmbed('#vv5', {% include 8X150X5.json %}).catch(console.error);
vegaEmbed('#vv6', {% include 8X150X6.json %}).catch(console.error);
vegaEmbed('#vv7', {% include 8X150X7.json %}).catch(console.error);
vegaEmbed('#vv8', {% include 8X150X8.json %}).catch(console.error);
vegaEmbed('#vv9', {% include 8X150X9.json %}).catch(console.error);
vegaEmbed('#vv10', {% include 8X150X10.json %}).catch(console.error);
vegaEmbed('#vv11', {% include 8X150X11.json %}).catch(console.error);
vegaEmbed('#vv12', {% include 8X150X12.json %}).catch(console.error);
vegaEmbed('#vv13', {% include 8X150X13.json %}).catch(console.error);
vegaEmbed('#vv14', {% include 8X150X14.json %}).catch(console.error);
vegaEmbed('#vv15', {% include 8X150X15.json %}).catch(console.error);
vegaEmbed('#vv16', {% include 8X150X16.json %}).catch(console.error);
vegaEmbed('#vv17', {% include 8X150X17.json %}).catch(console.error);
vegaEmbed('#vv18', {% include 8X150X18.json %}).catch(console.error);
vegaEmbed('#vv19', {% include 8X150X19.json %}).catch(console.error);
vegaEmbed('#vv20', {% include 8X150X20.json %}).catch(console.error);
vegaEmbed('#vv21', {% include 8X150X21.json %}).catch(console.error);
vegaEmbed('#vv22', {% include 8X150X22.json %}).catch(console.error);
vegaEmbed('#vv23', {% include 8X150X23.json %}).catch(console.error);
vegaEmbed('#vv24', {% include 8X150X24.json %}).catch(console.error);
vegaEmbed('#vv25', {% include 8X150X25.json %}).catch(console.error);
vegaEmbed('#vv26', {% include 8X150X26.json %}).catch(console.error);
vegaEmbed('#vv27', {% include 8X150X27.json %}).catch(console.error);
vegaEmbed('#vv28', {% include 8X150X28.json %}).catch(console.error);
vegaEmbed('#vv29', {% include 8X150X29.json %}).catch(console.error);
vegaEmbed('#vv30', {% include 8X150X30.json %}).catch(console.error);
vegaEmbed('#vv31', {% include 8X150X31.json %}).catch(console.error);
vegaEmbed('#vv32', {% include 8X150X32.json %}).catch(console.error);
vegaEmbed('#vv33', {% include 8X150X33.json %}).catch(console.error);
vegaEmbed('#vv34', {% include 8X150X34.json %}).catch(console.error);
vegaEmbed('#vv35', {% include 8X150X35.json %}).catch(console.error);
vegaEmbed('#vv36', {% include 8X150X36.json %}).catch(console.error);
vegaEmbed('#vv37', {% include 8X150X37.json %}).catch(console.error);
vegaEmbed('#vv38', {% include 8X150X38.json %}).catch(console.error);
vegaEmbed('#vv39', {% include 8X150X39.json %}).catch(console.error);
vegaEmbed('#vv40', {% include 8X150X40.json %}).catch(console.error);
vegaEmbed('#vv41', {% include 8X150X41.json %}).catch(console.error);
vegaEmbed('#vv42', {% include 8X150X42.json %}).catch(console.error);
vegaEmbed('#vv43', {% include 8X150X43.json %}).catch(console.error);
vegaEmbed('#vv44', {% include 8X150X44.json %}).catch(console.error);
vegaEmbed('#vv45', {% include 8X150X45.json %}).catch(console.error);
vegaEmbed('#vv46', {% include 8X150X46.json %}).catch(console.error);
vegaEmbed('#vv47', {% include 8X150X47.json %}).catch(console.error);
vegaEmbed('#vv48', {% include 8X150X48.json %}).catch(console.error);
vegaEmbed('#vv49', {% include 8X150X49.json %}).catch(console.error);
vegaEmbed('#vv50', {% include 8X150X50.json %}).catch(console.error);</script>
</body>
</html>
