<center>
<div class="tab">
  <button class="Typetablinks" id="defaultTypeOpen" onclick="openType(event, 'OEVK')" style="font-size:35px;height:50px;width:250px">OEVK adatok</button>
  <button class="Typetablinks" onclick="openType(event, 'Orszagos')" style="font-size:35px;height:50px;width:250px">Országos adatok</button>
</div>
</center>

{% include selector.html %}

<div id="Orszagos" class="Typetabcontent">

<div style="text-align:center">
  
  {% include osszesitett.html %}

</div>

</div>
  
<div id="OEVK" class="Typetabcontent">
  
<center>
  <h2> Válaszd ki a megyét a térképről </h2>
</center>

{% include map.html %}

{% include city_switch.html %}

{% include hidden_buttons.html %}

{% include county_graphs.html %}

{% include initial_tab.html %}

</div>
