---
---

@import "{{ site.theme }}";
#target a:hover .ar1, #target a:active .ar1 {
  fill: blue;
}
#target a:hover .st3, #target a:active .st3,
#target a:hover .st4, #target a:active .st4 {
  fill: blue;
}

.st3 {
  fill: #C1272D;
}

.st4 {
  fill: #333333;
}
