---
---

@import "{{ site.theme }}";
#ogymap path:hover {
  fill: #195996;
}
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.Typetabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.Typeactive{
    background:olive;
}
button.Typetablinks:active{
    background:olive;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
