<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

<div style="text-align:center">

<div id="vv1"></div>
<div id="vv2"></div>
<div id="vv3"></div>
<div id="vv4"></div>
<div id="vv5"></div>
<div id="vv6"></div>
<div id="vv7"></div>
<div id="vv8"></div>
<div id="vv9"></div>
<div id="vv10"></div>
<div id="vv11"></div>
<div id="vv12"></div>
<div id="vv13"></div>
<div id="vv14"></div>
<div id="vv15"></div>
<div id="vv16"></div>
<div id="vv17"></div>
<div id="vv18"></div>
<div id="vv19"></div>
<div id="vv20"></div>
<div id="vv21"></div>
<div id="vv22"></div>
<div id="vv23"></div>
<div id="vv24"></div>
<div id="vv25"></div>
<div id="vv26"></div>
<div id="vv27"></div>
<div id="vv28"></div>
<div id="vv29"></div>
<div id="vv30"></div>
<div id="vv31"></div>
<div id="vv32"></div>
<div id="vv33"></div>
<div id="vv34"></div>
<div id="vv35"></div>
<div id="vv36"></div>
<div id="vv37"></div>
<div id="vv38"></div>
<div id="vv39"></div>
<div id="vv40"></div>
<div id="vv41"></div>
<div id="vv42"></div>
<div id="vv43"></div>
<div id="vv44"></div>
<div id="vv45"></div>
<div id="vv46"></div>
<div id="vv47"></div>
<div id="vv48"></div>
<div id="vv49"></div>
<div id="vv50"></div>
<div id="vv51"></div>
<div id="vv52"></div>
<div id="vv53"></div>
<div id="vv54"></div>
<div id="vv55"></div>
<div id="vv56"></div>
<div id="vv57"></div>
<div id="vv58"></div>
<div id="vv59"></div>
<div id="vv60"></div>
<div id="vv61"></div>
<div id="vv62"></div>
<div id="vv63"></div>
<div id="vv64"></div>
<div id="vv65"></div>
<div id="vv66"></div>
<div id="vv67"></div>
<div id="vv68"></div>
<div id="vv69"></div>
<div id="vv70"></div>
<div id="vv71"></div>
<div id="vv72"></div>
<div id="vv73"></div>
<div id="vv74"></div>
<div id="vv75"></div>
<div id="vv76"></div>
<div id="vv77"></div>
<div id="vv78"></div>
<div id="vv79"></div>
<div id="vv80"></div>
<div id="vv81"></div>
<div id="vv82"></div>
<div id="vv83"></div>
<div id="vv84"></div>
<div id="vv85"></div>
<div id="vv86"></div>
<div id="vv87"></div>
<div id="vv88"></div>
<div id="vv89"></div>
<div id="vv90"></div>
<div id="vv91"></div>
<div id="vv92"></div>
<div id="vv93"></div>
<div id="vv94"></div>
<div id="vv95"></div>
<div id="vv96"></div>
<div id="vv97"></div>
<div id="vv98"></div>
<div id="vv99"></div>
<div id="vv100"></div>
<div id="vv101"></div>
</div>
<script type="text/javascript">

vegaEmbed('#vv1', {% include SZKfigures/16X119X1.json %}).catch(console.error);
vegaEmbed('#vv2', {% include SZKfigures/16X119X2.json %}).catch(console.error);
vegaEmbed('#vv3', {% include SZKfigures/16X119X3.json %}).catch(console.error);
vegaEmbed('#vv4', {% include SZKfigures/16X119X4.json %}).catch(console.error);
vegaEmbed('#vv5', {% include SZKfigures/16X119X5.json %}).catch(console.error);
vegaEmbed('#vv6', {% include SZKfigures/16X119X6.json %}).catch(console.error);
vegaEmbed('#vv7', {% include SZKfigures/16X119X7.json %}).catch(console.error);
vegaEmbed('#vv8', {% include SZKfigures/16X119X8.json %}).catch(console.error);
vegaEmbed('#vv9', {% include SZKfigures/16X119X9.json %}).catch(console.error);
vegaEmbed('#vv10', {% include SZKfigures/16X119X10.json %}).catch(console.error);
vegaEmbed('#vv11', {% include SZKfigures/16X119X11.json %}).catch(console.error);
vegaEmbed('#vv12', {% include SZKfigures/16X119X12.json %}).catch(console.error);
vegaEmbed('#vv13', {% include SZKfigures/16X119X13.json %}).catch(console.error);
vegaEmbed('#vv14', {% include SZKfigures/16X119X14.json %}).catch(console.error);
vegaEmbed('#vv15', {% include SZKfigures/16X119X15.json %}).catch(console.error);
vegaEmbed('#vv16', {% include SZKfigures/16X119X16.json %}).catch(console.error);
vegaEmbed('#vv17', {% include SZKfigures/16X119X17.json %}).catch(console.error);
vegaEmbed('#vv18', {% include SZKfigures/16X119X18.json %}).catch(console.error);
vegaEmbed('#vv19', {% include SZKfigures/16X119X19.json %}).catch(console.error);
vegaEmbed('#vv20', {% include SZKfigures/16X119X20.json %}).catch(console.error);
vegaEmbed('#vv21', {% include SZKfigures/16X119X21.json %}).catch(console.error);
vegaEmbed('#vv22', {% include SZKfigures/16X119X22.json %}).catch(console.error);
vegaEmbed('#vv23', {% include SZKfigures/16X119X23.json %}).catch(console.error);
vegaEmbed('#vv24', {% include SZKfigures/16X119X24.json %}).catch(console.error);
vegaEmbed('#vv25', {% include SZKfigures/16X119X25.json %}).catch(console.error);
vegaEmbed('#vv26', {% include SZKfigures/16X119X26.json %}).catch(console.error);
vegaEmbed('#vv27', {% include SZKfigures/16X119X27.json %}).catch(console.error);
vegaEmbed('#vv28', {% include SZKfigures/16X119X28.json %}).catch(console.error);
vegaEmbed('#vv29', {% include SZKfigures/16X119X29.json %}).catch(console.error);
vegaEmbed('#vv30', {% include SZKfigures/16X119X30.json %}).catch(console.error);
vegaEmbed('#vv31', {% include SZKfigures/16X119X31.json %}).catch(console.error);
vegaEmbed('#vv32', {% include SZKfigures/16X119X32.json %}).catch(console.error);
vegaEmbed('#vv33', {% include SZKfigures/16X119X33.json %}).catch(console.error);
vegaEmbed('#vv34', {% include SZKfigures/16X119X34.json %}).catch(console.error);
vegaEmbed('#vv35', {% include SZKfigures/16X119X35.json %}).catch(console.error);
vegaEmbed('#vv36', {% include SZKfigures/16X119X36.json %}).catch(console.error);
vegaEmbed('#vv37', {% include SZKfigures/16X119X37.json %}).catch(console.error);
vegaEmbed('#vv38', {% include SZKfigures/16X119X38.json %}).catch(console.error);
vegaEmbed('#vv39', {% include SZKfigures/16X119X39.json %}).catch(console.error);
vegaEmbed('#vv40', {% include SZKfigures/16X119X40.json %}).catch(console.error);
vegaEmbed('#vv41', {% include SZKfigures/16X119X41.json %}).catch(console.error);
vegaEmbed('#vv42', {% include SZKfigures/16X119X42.json %}).catch(console.error);
vegaEmbed('#vv43', {% include SZKfigures/16X119X43.json %}).catch(console.error);
vegaEmbed('#vv44', {% include SZKfigures/16X119X44.json %}).catch(console.error);
vegaEmbed('#vv45', {% include SZKfigures/16X119X45.json %}).catch(console.error);
vegaEmbed('#vv46', {% include SZKfigures/16X119X46.json %}).catch(console.error);
vegaEmbed('#vv47', {% include SZKfigures/16X119X47.json %}).catch(console.error);
vegaEmbed('#vv48', {% include SZKfigures/16X119X48.json %}).catch(console.error);
vegaEmbed('#vv49', {% include SZKfigures/16X119X49.json %}).catch(console.error);
vegaEmbed('#vv50', {% include SZKfigures/16X119X50.json %}).catch(console.error);
vegaEmbed('#vv51', {% include SZKfigures/16X119X51.json %}).catch(console.error);
vegaEmbed('#vv52', {% include SZKfigures/16X119X52.json %}).catch(console.error);
vegaEmbed('#vv53', {% include SZKfigures/16X119X53.json %}).catch(console.error);
vegaEmbed('#vv54', {% include SZKfigures/16X119X54.json %}).catch(console.error);
vegaEmbed('#vv55', {% include SZKfigures/16X119X55.json %}).catch(console.error);
vegaEmbed('#vv56', {% include SZKfigures/16X119X56.json %}).catch(console.error);
vegaEmbed('#vv57', {% include SZKfigures/16X119X57.json %}).catch(console.error);
vegaEmbed('#vv58', {% include SZKfigures/16X119X58.json %}).catch(console.error);
vegaEmbed('#vv59', {% include SZKfigures/16X119X59.json %}).catch(console.error);
vegaEmbed('#vv60', {% include SZKfigures/16X119X60.json %}).catch(console.error);
vegaEmbed('#vv61', {% include SZKfigures/16X119X61.json %}).catch(console.error);
vegaEmbed('#vv62', {% include SZKfigures/16X119X62.json %}).catch(console.error);
vegaEmbed('#vv63', {% include SZKfigures/16X119X63.json %}).catch(console.error);
vegaEmbed('#vv64', {% include SZKfigures/16X119X64.json %}).catch(console.error);
vegaEmbed('#vv65', {% include SZKfigures/16X119X65.json %}).catch(console.error);
vegaEmbed('#vv66', {% include SZKfigures/16X119X66.json %}).catch(console.error);
vegaEmbed('#vv67', {% include SZKfigures/16X119X67.json %}).catch(console.error);
vegaEmbed('#vv68', {% include SZKfigures/16X119X68.json %}).catch(console.error);
vegaEmbed('#vv69', {% include SZKfigures/16X119X69.json %}).catch(console.error);
vegaEmbed('#vv70', {% include SZKfigures/16X119X70.json %}).catch(console.error);
vegaEmbed('#vv71', {% include SZKfigures/16X119X71.json %}).catch(console.error);
vegaEmbed('#vv72', {% include SZKfigures/16X119X72.json %}).catch(console.error);
vegaEmbed('#vv73', {% include SZKfigures/16X119X73.json %}).catch(console.error);
vegaEmbed('#vv74', {% include SZKfigures/16X119X74.json %}).catch(console.error);
vegaEmbed('#vv75', {% include SZKfigures/16X119X75.json %}).catch(console.error);
vegaEmbed('#vv76', {% include SZKfigures/16X119X76.json %}).catch(console.error);
vegaEmbed('#vv77', {% include SZKfigures/16X119X77.json %}).catch(console.error);
vegaEmbed('#vv78', {% include SZKfigures/16X119X78.json %}).catch(console.error);
vegaEmbed('#vv79', {% include SZKfigures/16X119X79.json %}).catch(console.error);
vegaEmbed('#vv80', {% include SZKfigures/16X119X80.json %}).catch(console.error);
vegaEmbed('#vv81', {% include SZKfigures/16X119X81.json %}).catch(console.error);
vegaEmbed('#vv82', {% include SZKfigures/16X119X82.json %}).catch(console.error);
vegaEmbed('#vv83', {% include SZKfigures/16X119X83.json %}).catch(console.error);
vegaEmbed('#vv84', {% include SZKfigures/16X119X84.json %}).catch(console.error);
vegaEmbed('#vv85', {% include SZKfigures/16X119X85.json %}).catch(console.error);
vegaEmbed('#vv86', {% include SZKfigures/16X119X86.json %}).catch(console.error);
vegaEmbed('#vv87', {% include SZKfigures/16X119X87.json %}).catch(console.error);
vegaEmbed('#vv88', {% include SZKfigures/16X119X88.json %}).catch(console.error);
vegaEmbed('#vv89', {% include SZKfigures/16X119X89.json %}).catch(console.error);
vegaEmbed('#vv90', {% include SZKfigures/16X119X90.json %}).catch(console.error);
vegaEmbed('#vv91', {% include SZKfigures/16X119X91.json %}).catch(console.error);
vegaEmbed('#vv92', {% include SZKfigures/16X119X92.json %}).catch(console.error);
vegaEmbed('#vv93', {% include SZKfigures/16X119X93.json %}).catch(console.error);
vegaEmbed('#vv94', {% include SZKfigures/16X119X94.json %}).catch(console.error);
vegaEmbed('#vv95', {% include SZKfigures/16X119X95.json %}).catch(console.error);
vegaEmbed('#vv96', {% include SZKfigures/16X119X96.json %}).catch(console.error);
vegaEmbed('#vv97', {% include SZKfigures/16X119X97.json %}).catch(console.error);
vegaEmbed('#vv98', {% include SZKfigures/16X119X98.json %}).catch(console.error);
vegaEmbed('#vv99', {% include SZKfigures/16X119X99.json %}).catch(console.error);
vegaEmbed('#vv100', {% include SZKfigures/16X119X100.json %}).catch(console.error);
vegaEmbed('#vv101', {% include SZKfigures/16X119X101.json %}).catch(console.error);</script>
</body>
</html>
