<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

<div style="text-align:center">

<div id="vv1"></div>
<div id="vv2"></div>
<div id="vv3"></div>
<div id="vv4"></div>
<div id="vv5"></div>
<div id="vv6"></div>
<div id="vv7"></div>
<div id="vv8"></div>
<div id="vv9"></div>
<div id="vv10"></div>
<div id="vv11"></div>
<div id="vv12"></div>
<div id="vv13"></div>
<div id="vv14"></div>
<div id="vv15"></div>
<div id="vv16"></div>
<div id="vv17"></div>
<div id="vv18"></div>
<div id="vv19"></div>
<div id="vv20"></div>
<div id="vv21"></div>
<div id="vv22"></div>
<div id="vv23"></div>
<div id="vv24"></div>
<div id="vv25"></div>
<div id="vv26"></div>
<div id="vv27"></div>
<div id="vv28"></div>
<div id="vv29"></div>
<div id="vv30"></div>
<div id="vv31"></div>
<div id="vv32"></div>
<div id="vv33"></div>
<div id="vv34"></div>
<div id="vv35"></div>
<div id="vv36"></div>
<div id="vv37"></div>
<div id="vv38"></div>
<div id="vv39"></div>
<div id="vv40"></div>
</div>
<script type="text/javascript">

vegaEmbed('#vv1', {% include SZKfigures/13X103X1.json %}).catch(console.error);
vegaEmbed('#vv2', {% include SZKfigures/13X103X2.json %}).catch(console.error);
vegaEmbed('#vv3', {% include SZKfigures/13X103X3.json %}).catch(console.error);
vegaEmbed('#vv4', {% include SZKfigures/13X103X4.json %}).catch(console.error);
vegaEmbed('#vv5', {% include SZKfigures/13X103X5.json %}).catch(console.error);
vegaEmbed('#vv6', {% include SZKfigures/13X103X6.json %}).catch(console.error);
vegaEmbed('#vv7', {% include SZKfigures/13X103X7.json %}).catch(console.error);
vegaEmbed('#vv8', {% include SZKfigures/13X103X8.json %}).catch(console.error);
vegaEmbed('#vv9', {% include SZKfigures/13X103X9.json %}).catch(console.error);
vegaEmbed('#vv10', {% include SZKfigures/13X103X10.json %}).catch(console.error);
vegaEmbed('#vv11', {% include SZKfigures/13X103X11.json %}).catch(console.error);
vegaEmbed('#vv12', {% include SZKfigures/13X103X12.json %}).catch(console.error);
vegaEmbed('#vv13', {% include SZKfigures/13X103X13.json %}).catch(console.error);
vegaEmbed('#vv14', {% include SZKfigures/13X103X14.json %}).catch(console.error);
vegaEmbed('#vv15', {% include SZKfigures/13X103X15.json %}).catch(console.error);
vegaEmbed('#vv16', {% include SZKfigures/13X103X16.json %}).catch(console.error);
vegaEmbed('#vv17', {% include SZKfigures/13X103X17.json %}).catch(console.error);
vegaEmbed('#vv18', {% include SZKfigures/13X103X18.json %}).catch(console.error);
vegaEmbed('#vv19', {% include SZKfigures/13X103X19.json %}).catch(console.error);
vegaEmbed('#vv20', {% include SZKfigures/13X103X20.json %}).catch(console.error);
vegaEmbed('#vv21', {% include SZKfigures/13X103X21.json %}).catch(console.error);
vegaEmbed('#vv22', {% include SZKfigures/13X103X22.json %}).catch(console.error);
vegaEmbed('#vv23', {% include SZKfigures/13X103X23.json %}).catch(console.error);
vegaEmbed('#vv24', {% include SZKfigures/13X103X24.json %}).catch(console.error);
vegaEmbed('#vv25', {% include SZKfigures/13X103X25.json %}).catch(console.error);
vegaEmbed('#vv26', {% include SZKfigures/13X103X26.json %}).catch(console.error);
vegaEmbed('#vv27', {% include SZKfigures/13X103X27.json %}).catch(console.error);
vegaEmbed('#vv28', {% include SZKfigures/13X103X28.json %}).catch(console.error);
vegaEmbed('#vv29', {% include SZKfigures/13X103X29.json %}).catch(console.error);
vegaEmbed('#vv30', {% include SZKfigures/13X103X30.json %}).catch(console.error);
vegaEmbed('#vv31', {% include SZKfigures/13X103X31.json %}).catch(console.error);
vegaEmbed('#vv32', {% include SZKfigures/13X103X32.json %}).catch(console.error);
vegaEmbed('#vv33', {% include SZKfigures/13X103X33.json %}).catch(console.error);
vegaEmbed('#vv34', {% include SZKfigures/13X103X34.json %}).catch(console.error);
vegaEmbed('#vv35', {% include SZKfigures/13X103X35.json %}).catch(console.error);
vegaEmbed('#vv36', {% include SZKfigures/13X103X36.json %}).catch(console.error);
vegaEmbed('#vv37', {% include SZKfigures/13X103X37.json %}).catch(console.error);
vegaEmbed('#vv38', {% include SZKfigures/13X103X38.json %}).catch(console.error);
vegaEmbed('#vv39', {% include SZKfigures/13X103X39.json %}).catch(console.error);
vegaEmbed('#vv40', {% include SZKfigures/13X103X40.json %}).catch(console.error);</script>
</body>
</html>
