<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

<div style="text-align:center">

<div id="vv1"></div>
<div id="vv2"></div>
<div id="vv3"></div>
<div id="vv4"></div>
<div id="vv5"></div>
<div id="vv6"></div>
<div id="vv7"></div>
<div id="vv8"></div>
<div id="vv9"></div>
<div id="vv10"></div>
<div id="vv11"></div>
<div id="vv12"></div>
<div id="vv13"></div>
</div>
<script type="text/javascript">

vegaEmbed('#vv1', {% include SZKfigures/18X183X1.json %}).catch(console.error);
vegaEmbed('#vv2', {% include SZKfigures/18X183X2.json %}).catch(console.error);
vegaEmbed('#vv3', {% include SZKfigures/18X183X3.json %}).catch(console.error);
vegaEmbed('#vv4', {% include SZKfigures/18X183X4.json %}).catch(console.error);
vegaEmbed('#vv5', {% include SZKfigures/18X183X5.json %}).catch(console.error);
vegaEmbed('#vv6', {% include SZKfigures/18X183X6.json %}).catch(console.error);
vegaEmbed('#vv7', {% include SZKfigures/18X183X7.json %}).catch(console.error);
vegaEmbed('#vv8', {% include SZKfigures/18X183X8.json %}).catch(console.error);
vegaEmbed('#vv9', {% include SZKfigures/18X183X9.json %}).catch(console.error);
vegaEmbed('#vv10', {% include SZKfigures/18X183X10.json %}).catch(console.error);
vegaEmbed('#vv11', {% include SZKfigures/18X183X11.json %}).catch(console.error);
vegaEmbed('#vv12', {% include SZKfigures/18X183X12.json %}).catch(console.error);
vegaEmbed('#vv13', {% include SZKfigures/18X183X13.json %}).catch(console.error);</script>
</body>
</html>
